@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.container {
    display: flex !important;
    width: fit-content;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    background: theme.$background-color-primary;
    &.fullWidth {
        width: 100%;
    }
}

.icon {
    display: flex !important;
    align-items: center !important;
    @include spacing.p(3, xs);
    background-color: theme.$call-primary;
    border-radius: theme.$box-border-radius 0 0 theme.$box-border-radius;
    svg {
        fill: transparent;
        path {
            fill: theme.$text-light;
        }
        circle {
            stroke: theme.$text-light;
        }
    }
}

.content {
    @include spacing.p(3, xs);
}