@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.notificationItem {
  cursor: pointer;
  list-style-type: none;
  @include spacing.p(0, xs);
}

.notificationItem a {
  color: inherit;
}

.notificationItemBody {
  display: flex !important;
  flex-direction: row !important;
  border-bottom: 2px dotted theme.$darken-text-tertiary;
  background-color: theme.$darken-text-tertiary;
  @include spacing.p(3, xs);

  &:hover {
    background-color: theme.$darkest-text-tertiary;
  }
}

.notificationItemBody.read {
  background-color: theme.$background-color-primary;

  &:hover {
    background-color: theme.$text-tertiary;
  }
}

.notificationImageContainer {
  svg {
    fill: theme.$call-primary;
  }

  img {
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
  }
}

.notificationItemContent {
  font-size: theme.$font-size-small;
  @include spacing.ml(3, xs);
}

.notificationItemDate {
  font-weight: theme.$font-weight-normal;
  color: theme.$text-secondary;
  font-size: theme.$font-size-extra-small;
  @include spacing.mt(1, xs);
}