@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.summaryContainer {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch !important;
    gap: 1em;

    @include media-breakpoint-down(sm) {
        flex-direction: column !important;
    }

    >div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.description {
    color: $text-secondary;
    font-size: $font-size-small;
    margin-bottom: 1em;
}
