@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.container {
    @include p(4, sm);
    @include p(3, xs);
    background-color: $background-color-primary;
    box-shadow: $box-shadow;
    border: $box-border-main-container;
    border-radius: $box-border-radius;
    display: flex;
    flex-direction: column;
    gap: $spacer-lg;
    @include media-breakpoint-down(xs) {
        gap: $spacer;
    }
}

.title {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    font-family: $title-font-family;
}

.content {
    display: grid;
    gap: $spacer-lg;
    &.contentMobile {
        grid-template-columns: repeat(1, 1fr);
    }
    &.contentTablet {
        grid-template-columns: repeat(2, 1fr);
    }
    &.contentDesktop {
        grid-template-columns: repeat(3, 1fr);
    }
}