@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.title {
    font-size: $font-size-large;
    line-height: $line-height-tight;
    font-weight: $font-weight-bold;
    font-family: $title-font-family;
}

.content {
    display: grid;
    gap: $spacer;

    &.contentMobile {
        grid-template-columns: repeat(1, 1fr);
    }

    &.contentTablet {
        grid-template-columns: repeat(2, 1fr);
    }

    &.contentDesktop {
        grid-template-columns: repeat(3, 1fr);
    }
}

.listItem {
    text-decoration: none !important;
    color: inherit !important;
    border: $box-border !important;
    border-radius: $box-border-radius !important;
    @include p(3, xs);

    &:hover {
        border: 1px solid $text-primary !important;
    }
}