@use "@logora/debate.styles.theme/_theme.scss" as theme;
@use "@logora/debate.styles.spacing/_spacing.scss" as spacing;

.modalContent {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  @include spacing.my(2, xs);
  @include spacing.p(0, xs);
}

.modalActions {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  @include spacing.mt(2, xs);
  @include spacing.p(0, xs);
}

.modalAction {
  @include spacing.px(3, xs);
  @include spacing.py(2, xs);
  @include spacing.mx(1, xs);
  @include spacing.mt(2, xs);
}

.modalActions .modalAction:first-child {
  background-color: theme.$for-primary !important;
  border-color: theme.$for-primary !important;

  &:hover {
    background-color: theme.$for-primary !important;
    border-color: theme.$for-primary !important;
  }
}

.modalActions .modalAction:nth-child(2) {
  background-color: theme.$against-primary !important;
  border-color: theme.$against-primary !important;
  &:hover {
    background-color: theme.$against-primary !important;
    border-color: theme.$against-primary !important;
  }
}

.modalActions .modalAction:nth-child(3) {
  background-color: theme.$third-position-color-primary !important;
  border-color: theme.$third-position-color-primary !important;

  &:hover {
    background-color: theme.$third-position-color-primary !important;
    border-color: theme.$third-position-color-primary !important;
  }
}

.argumentInputWarning {
  font-size: theme.$font-size-small !important;
  color: theme.$cancel-primary !important;
  text-align: center;
  @include spacing.mt(3, xs);
}

.neutralPosition {
  @include spacing.mt(5, xs);
  color: theme.$text-secondary;
  font-size: theme.$font-size-small;
  .userChoice {
    @include spacing.mb(3, xs);
  }
  .neutralPositionName {
    @include spacing.py(1, xs);
    @include spacing.px(1.5, xs);
    @include spacing.ml(1, xs);
    color: theme.$third-position-color-primary;
    border-color: theme.$third-position-color-primary;
    border: 1px solid;
    border-radius: theme.$box-border-radius;
  }
}