@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.voteButton {
    cursor: pointer;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: $spacer-sm;
}

.active {
    font-weight: $font-weight-bold;
    color: $call-primary;
    & svg {
        fill: $call-primary !important;
        fill-rule: evenodd;
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    & svg {
        fill: $text-secondary;
        fill-rule: evenodd;
    }
}
