@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.voteButton {
    cursor: pointer;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: spacing.$spacer-sm;
}

.active {
    font-weight: theme.$font-weight-bold;
    color: theme.$call-primary;
    & svg {
        fill: theme.$call-primary !important;
        fill-rule: evenodd;
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    & svg {
        fill: theme.$text-secondary;
        fill-rule: evenodd;
    }
}