@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';
@import '~@logora/debate.styles.display/_display.scss';

.toaster {
    font-family: $font-family;
    z-index: 1000002 !important;
    @include media-breakpoint-down(sm) {
        @include m(2, xs);
    }
    @include media-breakpoint-up(sm) {
        min-width: 400px;
    }
}