@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;

.toaster {
    font-family: $font-family;
    z-index: 1000002 !important;

    @include media-breakpoint-down(sm) {
        margin-top: $modal-margin-top;
        margin-bottom: $modal-margin-bottom ;
        @include mx(2, xs);
    }
}
