@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.toaster {
    font-family: theme.$font-family;
    z-index: 1000002 !important;

    @include display.media-breakpoint-down(sm) {
        margin-top: theme.$modal-margin-top;
        margin-bottom: theme.$modal-margin-bottom ;
        @include spacing.mx(2, xs);
    }
}