@use '@logora/debate.styles.theme/_theme.scss' as *;

.boxContainer {
    border-radius: $box-border-radius;
    padding: 15px;
    color: $text-light;
    transition: width .5s;
}

.keywordTitle { 
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    margin-bottom: 0.5em;
}

.occurrences {
    font-size: $font-size-small;
    margin-bottom: 1.5em;
    span {
        font-weight: $font-weight-bold;
    }
    .number {
        margin-right: .3em;
    }
}

.keywordButton {
    border: 1px solid;
    border-color: $background-color-primary !important;
    background-color: $background-color-primary;
    border-radius: $box-border-radius !important;
    padding: 0.5em 0.7em;
    box-shadow: $button-box-shadow;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.contributionsContainer {
    border: 2px solid;
    border-top: none;
    margin: 0 15px;
    padding: 15px;
    border-bottom-left-radius: $box-border-radius;
    border-bottom-right-radius: $box-border-radius;
    display: none;
    &.contributionsContainerOpen {
        display: block;
        margin-bottom: 15px;
    }
}
