@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.headerBox {
    @include mb(4, xs);
    @include pr(4, xs);
    position: relative;
    width: fit-content;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    &::after {
        background-color: $call-primary;
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        left: 0;
        bottom: -8px;
        border-radius: $box-border-radius;
    }
}