@use '@logora/debate.styles.theme' as theme;

.avatarContainer {
    display: flex !important;
}

.avatarBox {
    position: relative;
}

.onlinePin {
    content: "";
    position: absolute;
    background: theme.$connected-green;
    border: 2px solid theme.$background-color-primary;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    height: 30%;
    width: 30%;
}

.avatarImage {
    object-fit: cover;
    max-width: none;
    position: relative;
    z-index: 2;
}

.avatarWrapper {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.avatarPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    height: 100%;       
    background-color: theme.$background-color-secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; 
}