@import '~@logora/debate.styles.theme/_theme.scss';

.avatarContainer {
    display: flex !important;
}

.avatarBox {
    position: relative;
}

.onlinePin {
    content: "";
    position: absolute;
    background: $connected-green;
    border: 2px solid $background-color-primary;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    height: 30%;
    width: 30%;
}

.avatarImage {
    object-fit: cover;
    max-width: none;
    border-radius: 50%;
    overflow: hidden;
}
