@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use "~@logora/debate.styles.spacing/_spacing.scss" as spacing;
@use "~@logora/debate.styles.display/_display.scss" as display;

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .7em;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    flex: 1
}

.stats {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center;
    gap: 10px;
}

.stats.withTag {
    margin-bottom: .4em;
}

.tag {
    padding: .5em .75em;
    color: theme.$text-light;
    background-color: theme.$call-primary;
    border-radius: theme.$box-border-radius;
    font-size: theme.$font-size-extra-small;
    font-weight: theme.$font-weight-bold;
    overflow: hidden;
    word-wrap: break-word;
    @include display.line-clamp(2);
    max-height: 3.4em;
    text-transform: uppercase;
}

.summaryItem {
    display: flex;
    gap: 8px;
    padding: spacing.$spacer-xs;
    align-items: flex-start;
    font-size: theme.$font-size-small;
    color: theme.$text-primary
}

.emptySummaryText {
    font-style: italic;
    color: theme.$text-primary;
    font-size: theme.$font-size-small;
    text-align: start;
    padding: 10px 0;
}