@import '~@logora/debate.styles.theme/_theme.scss';
@import "~@logora/debate.styles.spacing/_spacing.scss";

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .7em;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    border: $box-border;
    flex: 1
}

.stats {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center;
    margin-bottom: .4em;
    gap: 10px;
}

.tag {
    padding: .5em .75em;
    color: $text-light;
    border-radius: $box-border-radius;
    font-size: $font-size-extra-small;
    font-weight: $font-weight-bold;
    overflow: hidden;
    word-wrap: break-word;
    @include line-clamp(2);
    max-height: 3.4em;
    text-transform: uppercase;
}

.summaryItems {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.summaryItem {
    display: flex;
    gap: 8px;
    padding: $spacer-xs;
    align-items: flex-start;
    font-size: $font-size-small;
    color: $call-primary
}

.navy {
    background-color: $first-position-color-primary;
}

.darksalmon {
    background-color: $second-position-color-primary;
}