@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;

a.sourceListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: $font-size-extra-small;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid $background-color-secondary;
    border-radius: $box-border-radius;
    max-width: 100%;
    svg {
        margin-right: 5px;
        flex-shrink: 0 !important;
        width: 16px !important;
        height: 16px !important;
    }
    color: $text-primary !important;
    text-decoration: none !important;
    outline: none !important;
}

.sourceListItemLink {
    overflow: hidden;
    text-overflow: ellipsis;
    @include line-clamp(2);

    span {
        margin-right: 5px;
    }
}
