@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.display/_display.scss' as display;

a.sourceListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: theme.$font-size-extra-small;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid theme.$background-color-secondary;
    border-radius: theme.$box-border-radius;
    max-width: 100%;
    svg {
        margin-right: 5px;
        flex-shrink: 0 !important;
        width: 16px !important;
        height: 16px !important;
    }
    color: theme.$text-primary !important;
    text-decoration: none !important;
    outline: none !important;
}

.sourceListItemLink {
    overflow: hidden;
    text-overflow: ellipsis;
    @include display.line-clamp(2);

    span {
        margin-right: 5px;
    }
}