@import '~@logora/debate.styles.theme/_theme.scss';

.container {
    position: relative;
}

.contentMask {
    overflow: hidden;
}

.linkContainer {
    bottom: -35px;
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 70%;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
    span {
        font-size: $font-size-small;
    }
    &:hover {
        cursor: pointer;
        color: black;
    }
}

.linkContainerExpanded {
    display: flex;
    flex-direction: row;
    position: unset;
    width: 100%;
    z-index: 1;
    height: 70%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    span {
        font-size: $font-size-small;
    }
    &:hover {
        cursor: pointer;
        color: black;
    }
}

.link {
    position: relative;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    width: max-content;
	svg {
        transform: rotate(-90deg);
		transition: transform .5s;
	}
    span {
        padding-right: 5px;
    }
}

.linkExpanded {
    @extend .link;
    svg {
        transform: rotate(90deg);
        transition: transform .5s;
    }
}