@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;

.container {
    position: relative;
    @include spacing.mb(3, xs);
}

.contentMask {
    overflow: hidden;
}

.linkContainer {
    bottom: -30px;
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 70%;
    justify-content: center;
    align-items: flex-end;
    @include spacing.mb(2, xs);
    span {
        font-size: theme.$font-size-small;
    }
    &:hover {
        cursor: pointer;
        color: theme.$text-primary;
    }
}

.linkContainerExpanded {
    display: flex;
    flex-direction: row;
    position: unset;
    width: 100%;
    z-index: 1;
    height: 70%;
    justify-content: center;
    align-items: flex-end;
    span {
        font-size: theme.$font-size-small;
    }
    &:hover {
        cursor: pointer;
        color: theme.$text-primary;
    }
}

.link {
    position: relative;
    border-bottom: 1px solid theme.$text-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    width: max-content;
	svg {
        transform: rotate(-90deg);
		transition: transform .5s;
	}
    span {
        padding-right: spacing.$spacer-xxs;
    }
}

.linkExpanded {
    @extend .link;
    svg {
        transform: rotate(90deg);
        transition: transform .5s;
    }
}