@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.display' as display;

.listHeader {
	display: flex;
    justify-content: space-between;
    align-items: center;
	position: relative;
    flex-wrap: wrap;
    gap: spacing.$spacer;

    @include display.media-breakpoint-down(xs) {
        flex-direction: column;
		align-items: flex-start;
		&.listHeaderOneItem {
			flex-direction: row;
			align-items: center;
            flex-wrap: nowrap !important; 
		}
    }
}

.listTitle {
    font-size: theme.$font-size-extra-large;
    line-height: theme.$line-height-tight;
    font-weight: theme.$font-weight-bold;
	font-family: theme.$title-font-family;
}

.rightBar {
    display: flex;
    gap: spacing.$spacer;
    flex-wrap: wrap;
    @include display.media-breakpoint-down(xs) {
        width: 100%;
        justify-content: space-between;
		&.rightBarOneItem {
			justify-content: flex-end;
		}
    }
    flex: 1 1 auto; 
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.search {
    flex: 1;
    max-width: 35%;
    @include display.media-breakpoint-down(xs) {
        max-width: 80%;
    }
}

.tagList {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow-x: auto;
    overflow-y: hidden;
    gap: spacing.$spacer-md;
    padding-bottom: spacing.$spacer-md;
	@include display.media-breakpoint-down(xs) {
		gap: spacing.$spacer-sm;
    }
}

.tagItem {
    display: flex !important;
    color: theme.$text-secondary;
    cursor: pointer;
    white-space: nowrap;
}

.select {
	max-width: 300px;
	@include display.media-breakpoint-down(xs) {
		max-width: 200px;
	}
}