@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;
@use '@logora/debate.styles.flex/_flex.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;

.notificationMenuHeader {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: $font-size-small;
    border-bottom: 1px solid $text-tertiary;
    background-color: $text-tertiary;
    cursor: default;
    @include p(3, xs);
    @include pr(1, xs);
    @include pr(3, sm);
}

.notificationMenuHeaderText {
    font-weight: $font-weight-bold;
    font-size: $font-size-normal;
    font-family: $font-family;
}

.readNotificationsButton {
    cursor: pointer;
    color: $text-primary;
    text-align: right;
    font-size: $font-size-small;
    text-decoration: underline;
}

.readNotificationsButton:hover {
    opacity: 0.9;
}

.notificationList {
    list-style: none !important;
    font-size: $font-size-normal;
    display: flex !important;
    flex-direction: column !important;
    overflow-y: scroll;
    max-height: 50vh;
    @include p(0, xs);
    @include mb(2, xs);
}

@media screen and (max-width: 767px) {
    .notificationList {
        max-height: calc(100vh - 320px);
    }
}
