@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.drawer {
    overflow: auto;
    height: 100% !important;
    min-width: 450px;
    max-width: 100vw;
    @include spacing.px(2, xs);

    @media (width <=768px) {
        width: 100% !important;
        min-width: unset;
        position: fixed;
        z-index: 1000;
    }
}

.header {
    display: flex !important;
    flex-direction: column !important;
    color: theme.$text-primary;
    background-color: theme.$background-color-primary;
    min-height: 30px;
    position: sticky;
    top: 0;
    z-index: 1001;
    @include spacing.py(3, xs);
}


.closeButton {
    margin-left: auto;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    color: theme.$text-secondary;
    padding-left: 0;
    padding-right: 0;

    svg {
        fill: theme.$text-secondary;
    }
}



.body {
    display: flex !important;
    flex-direction: column !important;
    gap: spacing.$spacer;
    width: 100% !important;
    margin: auto;
    @include spacing.py(2, xs);
}

.title {
    margin: 0 8px;
}

.headerRowTop {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
}

.headerRowBottom {
    display: flex;
    align-items: center;
    @include spacing.mt(2, xs);
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    margin-left: auto;
    gap: 14px;
}


.notificationsContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 9px;
}

.notificationIcon {
    display: flex;
    align-items: center;
}

.drawerProfile {
    display: flex !important;
    align-items: center !important;
}


.notificationDropdown {
    position: absolute;
    top: 90%;
    right: 0;
    margin-top: 8px;
    min-width: 340px;
    overflow-y: auto;
    background: theme.$background-color-primary;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    border-radius: theme.$box-border-radius;
    z-index: 1100;
    
    @media (width <= 576px) {
        position: fixed;
        top: 60px;
        left: 8px;
        right: 8px;
        width: auto;
        min-width: unset;
        max-height: calc(100vh - 80px);
        margin-top: 25px;
        border-radius: theme.$box-border-radius;
        z-index: 900;
    }
}