@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.drawer {
    overflow: auto;
    height: 100% !important;
    min-width: 300px;
    max-width: 100vw; 
    @include media-breakpoint-down(sm) {
        width: 100% !important;
        min-width: unset;
        position: fixed;
        z-index: 1000; 
    }
    @include px(2, xs);
}

.header {
    display: flex !important;
    align-items: center !important;
    color: $text-primary;
    background-color: $background-color-primary;
    @include py(3, xs);
    min-height: 30px;
    position: sticky; 
    top: 0; 
    z-index: 1001; 
}

.closeButton {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    margin-left: auto;
    color: $text-secondary;
    svg {
        fill: $text-secondary;
    }
    top: 0;
    z-index: 1002; 
}


.body {
    display: flex !important;
    flex-direction: column !important;
    gap: $spacer;
    width: 100% !important;
    margin: auto;
    @include py(2, xs);
}