@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.drawer {
    overflow: auto;
    height: 100% !important;
    min-width: 450px;
    max-width: 100vw;
    @include spacing.px(2, xs);

    @media (width <=768px) {
        width: 100% !important;
        min-width: unset;
        position: fixed;
        z-index: 1000;
    }
}

.header {
    display: flex !important;
    align-items: center !important;
    color: theme.$text-primary;
    background-color: theme.$background-color-primary;
    min-height: 30px;
    position: sticky;
    top: 0;
    z-index: 1001;
    @include spacing.py(3, xs);
}



.closeButton {
    margin-left: auto;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    color: theme.$text-secondary;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 44px;

    svg {
        fill: theme.$text-secondary;
    }
}



.body {
    display: flex !important;
    flex-direction: column !important;
    gap: spacing.$spacer;
    width: 100% !important;
    margin: auto;
    @include spacing.py(2, xs);
}

.title {
    margin: 0 8px;
}