@use 'styles/theme' as theme;
@use 'styles/spacing' as spacing;

.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    color: theme.$text-primary;
    border-radius: theme.$box-border-radius;
    background: theme.$background-color-primary;
    a {
        text-decoration: none !important;
        color: theme.$text-primary !important;
    }
}
.consultationImageBox {
    position: relative;
}
.consultationImage {
    border-top-right-radius: theme.$box-border-radius;
    border-top-left-radius: theme.$box-border-radius;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}
.consultationTime {
    display: flex !important;
    align-items: center !important;
    position: absolute;
    left: spacing.$spacer;
    bottom: spacing.$spacer;
    @include spacing.px(2.5, xs);
    @include spacing.py(2, xs);
    background-color: theme.$call-primary;
    border-radius: theme.$box-border-radius;
    font-size: theme.$font-size-normal;
    color: theme.$text-light;
    max-width: 93%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    span {
        color: theme.$text-light;
    }
    &.ended {
        background-color: theme.$call-primary;
    }
}
.consultationTitle {
    @include spacing.pt(4, xs);
    @include spacing.pb(2, xs);
    @include spacing.px(3, xs);
    font-size: theme.$font-size-normal;
    font-weight: theme.$font-weight-bold;
}
.consultationButtonContainer {
    display: flex !important;
    @include spacing.px(3, xs);
    @include spacing.pb(4, xs);
    color: theme.$text-secondary;
    font-size: theme.$font-size-small;
    &:hover {
        text-decoration: underline;
        text-decoration-color: theme.$text-secondary;
    }
    .arrowIcon {
        @include spacing.ml(1, xs);
        transform: rotate(180deg);
        fill: theme.$text-secondary;
        top: 1px;
        position: relative;
    }
}
.consultationInformations {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    @include spacing.px(3, xs);
    @include spacing.py(2, xs);
    min-height: 50px;
    .consultationLeft {
        display: flex !important;
    }
    .consultationGroupInformation {
        display: flex !important;
        align-items: center !important;
        &.consultationGroupRight {
            @include spacing.pr(3, xs);
        }
    }
    .progressBarContainer {
        width: 60%;
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        font-size: theme.$font-size-extra-small;
        .progress {
            @include spacing.mt(1, xs);
            height: 15px;
            width: 100%;
            border-radius: theme.$box-border-radius;
            background-color: theme.$background-color-secondary !important;
        }
        .bar {
            background-color: theme.$call-primary;
        }
        .totalVotes {
            @include spacing.mr(1, xs);
        }
        .totalVotesPercentage {
            @include spacing.ml(1, xs);
        }
    }
    
    .consultationTextInformation {
        @include spacing.pr(1, xs);
    }
}
