@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use "~@logora/debate.styles.spacing/_spacing.scss" as spacing;
@use "~@logora/debate.styles.flex/_flex.scss" as flex;
@use "~@logora/debate.styles.display/_display.scss" as display;

.lineChartContainer {
  display: flex !important;
  flex-direction: column !important;
  height: max-content;
  color: theme.$text-primary;

  p {
    @include spacing.mt(3, xs);
  }
}

.lineChartFilterOptions {
  display: flex !important;
  @include flex.flex-direction(column, xs);
  @include flex.flex-direction(row, sm);
  align-items: baseline !important;
}

.filterTagList {
  display: flex !important;
  flex-wrap: wrap;
  @include flex.justify-content(flex-start, sm);
  align-items: flex-start !important;
  @include spacing.mt(0, sm);
  @include spacing.mt(3, xs);
  @include spacing.ml(3, sm);
  @include spacing.ml(0, xs);
  gap: spacing.$spacer-xxs;

  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tagItem {
  display: flex !important;
  color: theme.$text-secondary;
  cursor: pointer;
  white-space: nowrap;
}

.lineChartWrapper {
  height: 300px;
}