@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.facebookButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: 300px !important;
  height: 50px !important;
  margin-bottom: 15px;
  align-self: center;
  border: $box-border;
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
  cursor: pointer;
  @include p(3, xs);
  &:hover{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  }
  span {
    @include pl(2, xs);
  }
}

.facebookButtonIcon {
  fill: #4267B2 !important;
  fill-rule: evenodd;
  height: 25px;
  width: 35px;
  border-right: 1px solid $background-color-secondary;
  @include pr(2, xs);
}