@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.container {
    display: flex !important;
    flex-direction: column !important;
    @include spacing.p(3, xs);
    height: 100%;
    row-gap: theme.$box-spacing;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
}

.icon {
    position: relative;
    width: 30px;
    height: 30px;
    min-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    background-color: theme.$call-primary;
    @include spacing.mr(2, xs);
    svg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        fill: theme.$text-light;
    }
}

.title {
    display: flex !important;
    align-items: center !important;
    font-size: theme.$font-size-large;
    font-weight: theme.$font-weight-bold;
    color: theme.$text-primary;
}

.point {
    font-weight: theme.$font-weight-bold;
    svg {
        display: inline-block;
        vertical-align: middle;
        @include spacing.mr(1, xs);
    }
    .pointNumber {
        @include spacing.mx(1, xs);
    }
}

.text {
    height: 100%;
    color: theme.$text-primary;
}

.textSpacing {
    @include spacing.mr(1, xs);
}

.link {
    display: flex !important;
    align-items: center !important;
    @include spacing.px(3, xs);
    @include spacing.py(2, xs);
    width: fit-content;
    border: 1px solid;
    border-color: theme.$text-primary;
    border-radius: theme.$box-border-radius;
    cursor: pointer;
    svg {
        display: inline-block;
        vertical-align: middle;
        @include spacing.ml(2, xs);
        transform: rotate(-90deg);
        fill: theme.$text-primary;
    }
    a {
        color: theme.$text-primary !important;
        text-decoration: none;
    }
    &:hover {
        opacity: 0.9;
    }
}

.moduleNotActive {
    font-size: theme.$font-size-extra-small;
    color: theme.$text-secondary;
    font-style: italic;
}