@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

a.backLink {
    display: flex !important;
    align-items: center !important;
    font-weight: theme.$font-weight-normal;
    font-size: theme.$font-size-small;
    color: theme.$text-secondary;
    text-decoration: none !important;
    svg {
        fill: theme.$text-secondary;
        fill-rule: evenodd;
    }
    &:hover {
        color: theme.$text-primary;
        text-decoration: none;
    
        svg {
            fill: theme.$text-primary;
            fill-rule: evenodd;
        }
    }
    &:focus {
        border: none;
    }
    &:active {
        border: none;
    }
}

.arrowIcon {
    @include spacing.ml(2, xs);
}