@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.voteButtonsContainer {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    gap: $spacer;
}

.text {
    font-size: $font-size-extra-small;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
