@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.voteButtonsContainer {
    display: flex !important;
    align-items: center !important;
    gap: $spacer;
}

.voteButtonsContainer button.voteButton svg {
    transform: none;
}

.numberVotes {
    @include mx(2, xs);
}

.text {
    font-size: $font-size-extra-small;
    font-weight: $font-weight-bold;
}