
@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.container {
    @include spacing.p(3, xs);
    display: flex;
    gap: spacing.$spacer-md;
    position: relative;
    font-size: theme.$font-size-small;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    height: fit-content;
}

.icon {
    position: relative;
    width: 30px;
    height: 30px;
    min-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    background-color: theme.$call-primary;
    svg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        fill: theme.$text-light !important;
    }
}

.timeAgo {
    font-weight: theme.$font-weight-normal;
    color: theme.$text-secondary;
    font-size: theme.$font-size-extra-small;
}