@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.display' as display;

.paginatedList {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	display: inline-grid;
	width: 100%;

	&.centeredList {
		justify-content: center !important;
	}

	&.listIsDesktop {
		grid-template-columns: repeat(3, 1fr);

		&.indexLayoutList {
			grid-template-columns: repeat(6, 1fr);
		}

		&.indexLayoutList>li {
			grid-column: span 3;
		}

		&.indexLayoutList>li:nth-child(n + 3) {
			grid-column: span 2;
		}
	}

	&.listIsTablet {
		grid-template-columns: repeat(2, 1fr);
	}

	&.listIsMobile {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	&.column,
	&.oneElementPerLine {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	&.twoElementsPerLine {
		grid-template-columns: repeat(2, 1fr);
	}

	&.paginatedListIsTablet {
		@include display.media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: spacing.$spacer-lg;

	@include display.media-breakpoint-down(xs) {
		gap: spacing.$spacer;
	}
}

.emptyList {
	text-align: center;
	@include spacing.my(3, xs);
	@include spacing.p(0, xs);
	width: 100%;
}

.emptyListElement {
	text-align: center;
	@include spacing.my(0, xs);
	@include spacing.p(0, xs);
	width: 100%;
}

.paginatedListItem {
	min-width: 0;
}