@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.theme' as theme;

.shareBox {
    text-align: center;
    width: max-content;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    gap: spacing.$spacer-md;
}

.linkCopyButton {
    cursor: pointer;
    &:hover{
        cursor: pointer;
    }
}

.linkCopyIcon {
    height: 100%;
}

.codeIcon path, .codeIcon rect {
    stroke: theme.$text-primary;
}

.twitterIcon path {
    fill: theme.$text-primary;
}

.linkCopyButton:focus,
.linkCopyButton:focus-visible,
.codeCopyButton:focus,
.codeCopyButton:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}