@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.container {
    display: flex;
    flex-wrap: wrap;
    @include spacing.p(1, xs);
    width: fit-content;
    gap: spacing.$spacer;
}

.label {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    font-size: theme.$font-size-small;
    color: theme.$text-primary;
    cursor: pointer;
    border-radius: theme.$box-border-radius;
    font-weight: theme.$font-weight-bold;
    transition: all .3s ease-in;
    border: 1px solid theme.$darkest-text-tertiary;
    @include spacing.py(1.5, xs);
    @include spacing.px(2.5, xs);
}

.labelActive {
    color: theme.$text-light;
    opacity: 1;
    cursor: default;
}

.labelDisabled {
    display: none;
}

.firstLabelDefault {
    background-color: theme.$for-primary;
    &.labelActive {
        border-color: theme.$for-primary;
    }
}

.secondLabelDefault {
    background-color: theme.$against-primary;
    &.labelActive {
        border-color: theme.$against-primary;
    }
}