@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.dropdownWrapper {
	position: relative;
	display: inline-block;
}

.dropdownHeader {
	border: none;
	padding: 0 !important;
	cursor: pointer;
	background-color: theme.$background-color-primary;
	&:focus-visible {
		outline: revert;
	  }
}

.dropdownList {
	position: absolute;
	z-index: 3;
	background: theme.$background-color-primary;
	box-shadow: theme.$box-shadow;
	border: theme.$box-border;
	border-radius: theme.$box-border-radius;
	overscroll-behavior-y: contain;
	width: max-content;
}

.left {
	left: 0 !important;
}

.right {
	right: 0 !important;
}

.center {
	left: 50%;
	transform: translateX(-50%);
}