@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.container {
    display: flex !important;
    gap: $spacer-md;
    justify-content: space-between;
    cursor: pointer;
    &:hover .sourceTitle {
        text-decoration: underline;
    }
    @include media-breakpoint-down(sm) {
        gap: $spacer;
    }
}

.image {
    width: 48px !important;
    height: 48px !important;
    border-radius: $box-border-radius;
    object-fit: cover;
}

.infos {
    display: flex !important;
    flex-wrap: wrap;
    font-size: $font-size-small;
    line-height: $line-height-none;
    color: $text-secondary;
    @include mb(1, xs);
}

.sourceAuthor {
    line-height: $line-height-tight;
}

.sourceTitle {
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    font-weight: $font-weight-bold;
}

.separator {
    @include px(1, xs);
}
