@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.container {
    display: flex !important;
    gap: $spacer-md;
    justify-content: space-between;
    cursor: pointer;
    &:hover .sourceTitle {
        text-decoration: underline;
    }
}

.image {
    width: 48;
    height: 48px;
    border-radius: $box-border-radius;
    object-fit: cover;
}

.content {
    .infos {
        display: flex !important;
        flex-wrap: wrap;
        @include mb(2, xs);
        font-size: $font-size-small;
        color: $text-secondary;
        .sourceAuthor {
            text-transform: uppercase;
        }
        .separator {
            @include px(1, xs);
            font-size: $font-size-extra-small;
        }
    }
    .sourceTitle {
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
    }
}