@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.container {
    display: flex !important;
    gap: spacing.$spacer-md;
    justify-content: space-between;
    cursor: pointer;
    &:hover .sourceTitle {
        text-decoration: underline;
    }
    @include display.media-breakpoint-down(sm) {
        gap: spacing.$spacer;
    }
}

.image {
    width: 48px !important;
    height: 48px !important;
    border-radius: theme.$box-border-radius;
    object-fit: cover;
    overflow: hidden;
    color: transparent;
    text-indent: 10000px; 
}

.infos {
    display: flex !important;
    flex-wrap: wrap;
    font-size: theme.$font-size-small;
    line-height: theme.$line-height-none;
    color: theme.$text-secondary;
    @include spacing.mb(1, xs);
}

.sourceAuthor {
    line-height: theme.$line-height-tight;
}

.sourceTitle {
    font-size: theme.$font-size-normal;
    line-height: theme.$line-height-normal;
    font-weight: theme.$font-weight-bold;
}

.separator {
    @include spacing.px(1, xs);
}
