@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.pieChart {
  align-self: center;
  color: theme.$text-primary;
  flex: 1;
  min-width: 0;
  height: 400px;
  @include spacing.mt(4, xs);
  @include spacing.p(3, xs);
  
  @include display.media-breakpoint-down(xs) {
    flex: unset;
  }
}
