@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;


.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    color: theme.$text-primary;
    border-radius: theme.$box-border-radius;
    background: theme.$background-color-primary;
    gap: spacing.$box-spacing;
    padding: spacing.$box-spacing;
}

.selected {
    background-color: theme.$success-primary !important;
    color: theme.$text-light;
}

.expired {
    background-color: theme.$background-color-primary;
    color: theme.$text-secondary;
    border: none !important;
}

.suggestion {
    font-weight: theme.$font-weight-bold;
    font-size: theme.$font-size-normal;
    line-height: theme.$line-height-normal;
    min-height: 2em;
}

.arrowIcon {
    transform: rotate(-90deg);
}

.voteButton {
    width: fit-content;
}

.voteResultsContainer {
    max-width: 100%;
    @include spacing.mt(3, xs);
}

.footerContainer {
    align-items: flex-end;
}

.footerActionContainer {
    width: 100%;
}