@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '@logora/debate.styles.display/_display.scss' as display;

.selectContainer {
	display: flex !important;
  	justify-content: left !important;
	@include spacing.px(0, xs);
	cursor: pointer;
	@include display.media-breakpoint-up(sm) {
		display: block !important;
	}
}

.selectInput {
	@include spacing.px(3, xs);
	@include spacing.py(2.5, xs);
	background-color: theme.$background-color-primary;
	border-radius: theme.$button-border-radius;
	border: theme.$button-border;
	transition: background-color 0.3s;
	min-width: 130px;
	display: flex !important;
	align-items: center !important;
	&.span {
		@include spacing.mr(1, xs);
		align-self: flex-end;
	}
	&:hover {
		border: 1px solid theme.$text-secondary;
	}
	svg {
		margin-left: auto;
	}
	&::first-letter {
		text-transform: capitalize;
	}
	&.disabled {
		cursor: not-allowed;
		background-color: theme.$text-tertiary;
		border: 1px solid theme.$darken-text-tertiary;
		& ~ label {
		  color: theme.$darkest-text-tertiary;
		}
	}
}

.currentOptionText { 
	@include spacing.mr(2, xs);
	@include display.text-truncate();
}

.selectOption {
	@include spacing.px(3, xs);
	@include spacing.py(2, xs);
	transition: background-color 0.3s;
	&:hover {
		background-color: rgba(0, 0, 0, 0.03);
	}
	&::first-letter {
		text-transform: capitalize;
	}
}

.selectOptionActive {
	background-color: theme.$darken-text-tertiary;
	color: theme.$text-primary;
}

.arrowDown {
	flex-shrink: 0;
}