@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.container {
    display: flex !important;
    flex-direction: row !important;
}

.upvoteContainer {
    @include spacing.mr(4, xs);
}

.upvoteContainer, .downvoteContainer {
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    font-size: theme.$font-size-extra-small;
}

.voteText {
    @include spacing.ml(2, xs);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.active span {
    color: theme.$call-primary;
}

.active svg {
    fill: theme.$call-primary;
}