@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.reportModalBody {
    display: flex !important;
    flex-direction: column !important;
	overflow: visible !important;
}

.reportForm {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.reportForm textarea:hover {
    border-color: inherit;
}

.reportFormSubmit {
    text-align: center;
}

.successButtonBox {
    @include mt(4, xs);
}

.formGroup {
    display: flex !important;
	flex-flow: column wrap !important;
	align-items: flex-start !important;
	@include my(2, xs);
}

.formControl {
    display: block;
	width: 100%;
	height: auto;
	padding: 0.375em 0.75em;
	font-size: $font-size-normal;
	font-weight: $font-weight-normal;
	line-height: 1.5;
	color: $text-secondary;
	background-color: $background-color-primary;
	background-clip: padding-box;
	border-radius: 0.25em;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border: $box-border;
	&::placeholder {
		color: $text-secondary;
		opacity: 1;
	}
	&:hover {
        border: 1px solid $text-secondary;
    }
	&:focus {
		border: 1px solid $text-secondary;
		color: $text-secondary;
		background-color: $background-color-primary;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
}

.select {
	max-width: 436px;
	@include media-breakpoint-down(xs) {
		max-width: 250px;
	}
}