@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '~@logora/debate.styles.display/_display.scss' as display;

.reportModalBody {
	display: flex !important;
	flex-direction: column !important;
	overflow: visible !important;
}

.reportForm {
	display: flex !important;
	flex-direction: column !important;
	width: 100%;
}

.reportForm textarea:hover {
	border-color: inherit;
}

.reportFormSubmit {
	text-align: center;
}

.successButtonBox {
	@include spacing.mt(4, xs);
}

.formGroup {
	display: flex !important;
	flex-flow: column wrap !important;
	align-items: flex-start !important;
	@include spacing.my(2, xs);
}

.formControl {
	display: block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	height: auto;
	padding: 0.375em 0.75em;
	font-size: theme.$font-size-normal;
	font-weight: theme.$font-weight-normal;
	line-height: theme.$line-height-loose;
	color: theme.$text-secondary;
	background-color: theme.$background-color-primary;
	background-clip: padding-box;
	border-radius: 0.25em;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border: theme.$box-border;

	&::placeholder {
		color: theme.$text-secondary;
		opacity: 1;
	}

	&:hover {
		border: 1px solid theme.$text-secondary;
	}

	&:focus {
		border: 1px solid theme.$text-secondary;
		color: theme.$text-secondary;
		background-color: theme.$background-color-primary;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
}

.select {
	max-width: 436px;
	@include display.media-breakpoint-down(xs) {
		max-width: 250px;
	}
}

.nameGroup {
	flex-direction: row !important;
	gap: spacing.$spacer-sm;
	width: 100%;
	flex-wrap: wrap;
	box-sizing: border-box;
	@include display.media-breakpoint-down(sm) {
		flex-direction: column !important;
		gap: 0;
	}
}


.nameField {
	flex: 1;
	min-width: 0;
	margin-right: spacing.$spacer-sm;
	max-width: 100%;
	@include display.media-breakpoint-down(sm) {
		width: 100%;
	}
}

.nameField:last-child {
	margin-right: 0;
}
