@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.flex' as flex;
@use '@logora/debate.styles.display' as display;

.voteBox {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
}

.voteResultsBox {
    display: flex !important;
    flex-direction: column !important;
    @include spacing.p(0, xs);
    width: 100%;
}

.voteResults {
    @include spacing.p(0, xs);
}

.voteProgressHeader {
    @include spacing.mb(1, xs);
    display: flex !important;
    align-items: center !important;
    font-size: theme.$font-size-normal;
    @include display.line-clamp(1);
}

.voteProgressHeaderAgainst {
    @include spacing.mt(2.5, xs);
}

.voteResultsNumberVoters {
    display: flex !important;
    align-items: center !important;
    @include spacing.p(0, xs);
    font-size: theme.$font-size-normal;
    color: theme.$text-secondary;
}

.voteBoxFooter {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    @include spacing.mt(3, xs);
    @include spacing.p(0, xs);
}

.voteBoxActions {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
    gap: spacing.$spacer;
    color: theme.$text-secondary;
    width: 100%;
}

.voteBoxActionsBody {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: spacing.$spacer-md;
    @include spacing.p(0, xs);
    width: 100%;
}

.voteBoxActionsBodyColumn {
    grid-template-columns: 1fr;
}

.voteAction {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    @include spacing.p(0, xs);
    max-width: 100% !important;
    width: 100% !important;
    text-align: center;

    &.buttonAlignLeft {
        justify-content: flex-start !important;
    }
}

button.voteButton,
a.voteButton {
    -webkit-appearance: initial !important;
    width: 100%;
    @include display.hyphens(auto);
    @include spacing.p(2, xs);
}

.textAlignLeft {
    justify-content: flex-start !important;
}

.voteBoxShowResultContainer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap !important;
    margin-top: .5em;
}

.voteBoxShowResult {
    cursor: pointer;

    a {
        color: inherit;             
        text-decoration: none;        
        background: none !important;

        &:hover {
            text-decoration: none;
            background: none !important;
        }
    }

    .boldShowResult {
        font-weight: theme.$font-weight-bold;
    }
}

.outlined {
    padding: 7px 15px;
    border-radius: theme.$box-border-radius;
    background-color: theme.$background-color-secondary;
    white-space: nowrap;

}

.voteButtonThesis {
    display: block;
    text-align: left;
    @include display.line-clamp(2);
}

@include display.media-breakpoint-down(sm) {
    .voteButtonThesisSynthesisMobile {
        text-align: center !important;
    }
}

.voteBoxActionsBody .voteAction:first-child .voteButton {
    background-color: theme.$for-primary !important;
    border-color: theme.$for-primary !important;
    border: 1px solid theme.$for-primary !important;

    &:hover {
        background-color: theme.$for-primary !important;
        border-color: theme.$for-primary !important;
        border: 1px solid theme.$for-primary !important;
    }
}

.voteBoxActionsBody .voteAction:nth-child(2) .voteButton {
    background-color: theme.$against-primary !important;
    border-color: theme.$against-primary !important;
    border: 1px theme.$against-primary !important;

    &:hover {
        background-color: theme.$against-primary !important;
        border-color: theme.$against-primary !important;
        border: 1px theme.$against-primary !important;
    }
}

.voteBoxActionsBody .voteAction:nth-child(3) .voteButton {
    background-color: theme.$text-light !important;
    color: theme.$third-position-color-primary !important;
    border-color: theme.$third-position-color-primary !important;
    border: 1px solid theme.$third-position-color-primary !important;

    &:hover {
        background-color: theme.$text-light !important;
        color: theme.$third-position-color-primary !important;
        border-color: theme.$third-position-color-primary !important;
        border: 1px solid theme.$third-position-color-primary !important;
    }
}

.voteActionButton {
    cursor: pointer;
    -webkit-appearance: initial !important;
    background: none;
    border: none;
    color: theme.$text-secondary !important;
    font-size: inherit;
    padding: 0;
    font-weight: theme.$font-weight-bold;
}

.sideIcon {
    svg {
        margin-left: 5px;
        fill: theme.$text-primary;
    }
}

.progress {
    border-radius: 10px;
    height: 25px;
    color: theme.$text-secondary;
}

.progressBar {
    border-radius: 10px;
    height: 25px;
}

.voteResults>div:first-child .progress .progressBar {
    background-color: theme.$for-primary !important;
}

.voteResults>div:nth-child(2) .progress .progressBar {
    background-color: theme.$against-primary !important;
}

.voteResults div:nth-child(3) .progress .progressBar {
    background-color: theme.$third-position-color-primary !important;
}

.voteCommentCounts {
    display: flex;
    align-items: center;
    gap: spacing.$spacer-xl;
    width: 100%;
    @include spacing.mt(1, xs);
}

.debateNumberItem {
    display: flex;
    align-items: center;
    gap: spacing.$spacer-sm;
    font-size: theme.$font-size-normal;
    color: theme.$text-primary;
}