@use 'styles/theme' as theme;
@use 'styles/spacing' as spacing;

.consultationSkeleton {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacer;
    width: 100%;
}

.consultationHeader {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacer-sm;
}

.consultationTitle {
    width: 55%;
    height: theme.$font-size-extra-large;
}

.consultationDescription {
    width: 80%;
    height: theme.$font-size-normal;
}

.tabsRow {
    display: flex;
    flex-direction: row;
    gap: spacing.$spacer-sm;
}

.tab {
    width: 120px;
    height: 32px;
    border-radius: theme.$box-border-radius;
}

.proposalList {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacer;
}

.proposalItem {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacer-sm;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    padding: spacing.$spacer;
}

.proposalAuthor {
    width: 180px;
    height: 40px;
}

.proposalLine {
    width: 100%;
    height: theme.$font-size-normal;
}

.proposalLineShort {
    width: 55%;
    height: theme.$font-size-normal;
}
