@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '@logora/debate.styles.theme/_theme.scss' as theme;

.suggestionInputContainer {
    display: flex !important;
    flex-direction: column !important;
    color: theme.$text-primary;
    gap: spacing.$spacer;
}

.suggestionInputItem {
    display: flex !important;
    flex-direction: column !important;
    gap: spacing.$spacer;
}

.suggestionInputTitle {
    font-size: theme.$font-size-medium;
    line-height: theme.$line-height-normal;
    font-weight: theme.$font-weight-bold;
    position: relative;
    width: max-content;
}

.suggestionInputSubtitle {
    font-size: theme.$font-size-normal;
}

.suggestionInputSubmit {
    width: max-content;
}

.charactersCount {
    font-size: theme.$font-size-small;
    color: theme.$text-secondary;
    white-space: nowrap;
}