@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.debateBox {
  position: relative;
  font-size: $font-size-normal;
  border: $box-border;
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
  @include m(0, xs);
  @include p(0, xs);
  background-color: $background-color-primary;
}

.imageLink {
  display: block !important;
}

.debateBoxImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  cursor: pointer;
  border-top-right-radius: $box-border-radius;
  border-top-left-radius: $box-border-radius;
}

.debateBoxImageBox {
  position: relative;
}

.debateSuggestion {
  display: flex !important;
  position: absolute;
  gap: $spacer-xxs;
  right: $spacer;
  top: $spacer;
  @include px(2.5, xs);
  @include py(2, xs);
  background-color: $call-primary;
  border-radius: $box-border-radius;
  max-width: 80%;
  font-size: $font-size-small;
  span {
    color: $text-light;
    font-size: $font-size-extra-small;
  }
  .authorSuggestion {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 93%;
  }
  .authorName {
    @include ml(1, xs);
  }
  svg {
    fill: $text-light;
  }
}

.inactiveDebate {
  @extend .debateSuggestion;
  top: unset;
  left: $spacer;
  bottom: $spacer;
  right: unset;
  color: $text-light;
  @include px(2.5, xs);
  @include py(2, xs);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 93%;
  font-size: $font-size-normal;
}

.debateBoxBody {
  display: flex;
  flex-direction: column;
  gap: $box-spacing;
  padding: $box-spacing;
}

.subApplication {
  > img {
    height: 20px;
    @include mr(2, xs);
  }
  @include mb(3, xs);
  color: $text-secondary;
  font-size: $font-size-extra-small;
  display: flex;
  align-items: center;
}

.debateBoxTitle {
  font-size: $font-size-large;
}

.debateBoxTitle {
  font-weight: $font-weight-bold;
  min-height: 2.7em;
  line-height: $line-height-loose;
  a {
    color: $text-primary;
    &:hover{
      color: $text-primary;
      text-decoration: underline;
    }
  }
}

.debateTitle {
  display: block;
  @include line-clamp(2);
  font-size: $font-size-large;
  &.debateTitleMobile{
    -webkit-line-clamp: 3;
  }
}

.debateBoxFooter {
  font-size: $font-size-extra-small !important;
  justify-content: space-between;
  min-height: 40px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  @include p(0, xs);
  width: 100% !important;
}

.debateBoxFooter svg {
  fill: $text-primary;
}

.debateParticipantsBox {
  display: flex !important;
  flex-direction: row !important;
  @include p(0, xs);
}

.debateParticipantsEmpty {
  font-style: italic;
  font-size: $font-size-extra-small;
}

.debateParticipantItem {
  margin-right: -0.5em !important;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.debateBoxNumbers {
  font-size: $font-size-small;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  @include p(0, xs);
}

.debateBoxNumbersText {
  @include ml(3, xs);
  display: block;
  @include line-clamp(1);
}

.participantsCountBox {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: $background-color-secondary;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $text-primary;
  font-size: $font-size-extra-small;
}