@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.ssoForm {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.logo {
  align-self: center;
  @include spacing.mt(0, sm);
  @include spacing.mb(3, xs);
}

.logoImage {
  object-fit: contain;
  width: 100px !important;
  max-height: 100px !important;
}

.loginIcon {
  width: 120px;
  height: 120px;
  text-align: center;
  fill-rule: evenodd;
  fill: theme.$call-primary !important;

  @include display.media-breakpoint-down(sm) {
    width: 80px;
    height: 80px;
  }
}

.mainText {
  font-size: theme.$font-size-normal;
  font-weight: theme.$font-weight-normal;
  color: theme.$text-primary;
  text-align: center;
  @include spacing.mx(2, xs);
  @include spacing.mx(4, sm);

  @include display.media-breakpoint-down(sm) {
    font-size: theme.$font-size-small;
  }
}

.title {
  font-weight: theme.$font-weight-bold;
  @include spacing.mb(2, xs);
}

.loginButton {
  @include spacing.my(3, xs);
}

.cgu {
  color: theme.$text-secondary;
  font-size: theme.$font-size-small;
  font-weight: theme.$font-weight-normal;
  width: 100%;
  text-align: center;
  @include spacing.mx(5, sm);
  @include spacing.mx(3, xs);
  @include spacing.my(2, xs);
}

.signupButton {
  color: theme.$call-primary !important;
  text-decoration: underline;
  cursor: pointer;
  @include spacing.ml(2, xs);
}

.cguButton {
  text-align: center;
  background: none;
  font-size: theme.$font-size-extra-small;
  color: theme.$text-secondary;
  border: none;
  font-weight: theme.$font-weight-normal;
  @include spacing.mb(2, xs);
  @include spacing.mt(2, xs);
  @include spacing.p(0, xs);
}

.switchBox {
  @include spacing.py(3, xs);
}

.error {
  color: theme.$cancel-primary;
  @include spacing.pb(2, xs);
}

.termsTarget {
  color: theme.$call-primary !important;
}
