@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.adContainer {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  @include my(2, xs);
}
