@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '~@logora/debate.styles.display/_display.scss' as display;

.sourceBox {
    border: theme.$box-border;
    box-shadow: theme.$box-shadow;
    border-radius: theme.$box-border-radius;
    @include spacing.mb(4, xs);
}

.sourceBoxImage {
    width: 100%;
    object-fit: cover;
}

.sourceBoxBody {
    @include spacing.px(3, xs);
    @include spacing.py(2, xs);
}

.sourceBoxPublisher {
    @include display.text-truncate();
    color: theme.$text-secondary;
    font-size: theme.$font-size-normal;
}

.sourceBoxTitle {
    font-weight: theme.$font-weight-bold;
    font-size: theme.$font-size-large;
    @include display.text-truncate();
    @include spacing.my(1, xs);
}

.sourceBoxDescription {
    display: block;
    @include display.line-clamp(2);
}

a.sourceLink {
    text-decoration: none !important;
    color: theme.$text-primary !important;
}