@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;
@use '@logora/debate.styles.flex/_flex.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;

.sourceBox {
    border: $box-border;
    box-shadow: $box-shadow;
    border-radius: $box-border-radius;
    @include mb(4, xs);
}

.sourceBoxImage {
    width: 100%;
    object-fit: cover;
}

.sourceBoxBody {
    @include px(3, xs);
    @include py(2, xs);
}

.sourceBoxPublisher {
    @include text-truncate();
    color: $text-secondary;
    font-size: $font-size-normal;
}

.sourceBoxTitle {
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    @include text-truncate();
    @include my(1, xs);
}

.sourceBoxDescription {
    display: block;
    @include line-clamp(2);
}

a.sourceLink {
    text-decoration: none !important;
    color: $text-primary !important;
}
