@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.sectionBoxContainer {
    @include p(3, xs);
    box-shadow: $box-shadow;
    border: $box-border;
    color: $text-primary;
    border-radius: $box-border-radius;
    background-color: $background-color-primary;
}

.headerBox {
    @include mb(4, xs);
    @include pr(4, xs);
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}


.arrowDown {
    flex-shrink: 0;
}