@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.sectionBoxContainer {
    background-color: $background-color-primary;
    box-shadow: $box-shadow;
    border: $box-border-main-container;
    border-radius: $box-border-radius;
    color: $text-primary;
    @include p(3, xs);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.collapsible {
    cursor: pointer;
}

.iconLightArrow {
    transition: transform 0.3s;
}

.iconRotated {
    transform: rotate(180deg);
}

.titleContainer {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

.title {
    font-size: $font-size-large;
    line-height: $line-height-tight;
    font-weight: $font-weight-bold;
    font-family: $title-font-family;
    color: $text-primary;
}

.subtitle {
    font-size: $font-size-small;
    color: $text-secondary;
}

.body {
    @include pt(3, xs)
}