@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.sectionBoxContainer {
    background-color: theme.$background-color-primary;
    box-shadow: theme.$box-shadow-main-container;
    border: theme.$box-border-main-container;
    border-radius: theme.$box-border-radius;
    color: theme.$text-primary;
    @include spacing.p(3, xs);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.collapsible {
    cursor: pointer;
}

.iconLightArrow {
    transition: transform 0.3s;
}

.iconRotated {
    transform: rotate(180deg);
}

.titleContainer {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

.title {
    font-size: theme.$font-size-large;
    line-height: theme.$line-height-tight;
    font-weight: theme.$font-weight-bold;
    font-family: theme.$title-font-family;
    color: theme.$text-primary;
}

.subtitle {
    font-size: theme.$font-size-small;
    color: theme.$text-secondary;
}

.body {
    @include spacing.pt(3, xs)
}