@use 'styles/theme' as theme;
@use 'styles/spacing' as spacing;

button.followUserButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: spacing.$spacer-sm;
  padding: spacing.$spacer-sm;
  font-weight: theme.$font-weight-bold;
  font-variation-settings: theme.$font-variation-bold;
}

button.followUserButtonNoBorder {
  font-weight: theme.$font-weight-normal;
  font-variation-settings: theme.$font-variation-normal;
  color: theme.$text-primary !important;
  padding: 0 !important;
}

.followIcon {
  display: inline-flex;
  align-items: center;

  & svg {
    fill: theme.$text-primary;
  }
}