@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

button.followUserButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: spacing.$spacer-sm;
  padding: spacing.$spacer-sm;
  font-weight: theme.$font-weight-bold;
}

button.followUserButtonNoBorder {
  font-weight: theme.$font-weight-normal;
  color: theme.$text-primary !important;
  padding: 0 !important;
}