$for-primary: var(--for-primary-color, #cc6a6d);
$against-primary: var(--against-primary-color,#7980bb);
$third-position-color-primary: var(--third-position-color-primary, #9b9b9b);
$call-primary: var(--call-primary-color,  #434343);
$info-primary: var(--source-primary, #4485C3);
$success-primary: var(--success-primary, #4d9e33);
$cancel-primary: var(--cancel-primary, #c73c49);
$connected-green: var(--connected-green, #80d764);
$announcement-primary: var(--announcement-primary, #cce5ff);
$announcement-text-primary: var(--announcement-text-primary, #004085);
$background-color-container: var(--background-color-container, white);
$background-color-container-dark: var(--background-color-container-dark, #000000);
$background-color-primary: var(--background-color-primary, white);
$background-color-secondary: var(--background-color-secondary ,#E8E8E8);
$box-shadow: var(--box-shadow, 0px 2px 5px rgba(7,42,68, 0.1));
$box-shadow-main-container : var(--box-shadow-main-container, $box-shadow);
$box-border: var(--box-border, 1px solid rgba(7,42,68, 0.1));
$box-border-main-container: var(--box-border-main-container, $box-border);
$box-border-radius: var(--box-border-radius, 6px);
$button-shadow: var(--button-shadow, $box-shadow);
$button-border: var(--button-border, $box-border);
$button-border-radius: var(--button-border-radius, $box-border-radius);
$text-primary: var(--text-primary, #222222);
$text-secondary: var(--text-secondary, #5F5F5F);
$text-tertiary: var(--text-tertiary, #fafafa);
$text-light: var(--text-light, white);
$font-weight-normal: var(--font-weight-normal, 400);
$font-weight-bold: var(--font-weight-bold, 700);
$darken-text-tertiary: var(--darken-text-tertiary, #F1EFED);
$darkest-text-tertiary: var(--darkest-text-tertiary, #c7c7c7);
$font-family: var(--font-family, 'Montserrat');
$title-font-family: var(--title-font-family, $font-family);
$box-title-font-family: var(--box-title-font-family, $font-family);
$font-size-large: var(--font-size-large, 20px);
$font-size-extra-large: var(--font-size-extra-large, 22px);
$font-size-medium: var(--font-size-medium, 18px);
$font-size-normal: var(--font-size-normal, 16px);
$font-size-small: var(--font-size-small, 16px);
$font-size-extra-small: var(--font-size-extra-small, 14px);
$tag-border-color: var(--tag-border-color, $call-primary);
$tag-text-color: var(--tag-text-color, $call-primary);
$tag-text-color-active: var(--tag-text-color-active, white);
$layout-mobile-margin: var(--layout-horizontal-margin, 0);
$layout-max-width: 1400px;
$line-height-none: var(--line-height-none, 1em);
$line-height-tight: var(--line-height-tight, 1.08em);
$line-height-normal: var(--line-height-normal, 1.26em);
$line-height-loose: var(--line-height-loose, 1.38em);
$modal-margin-top: var(--modal-margin-top, 0.5em);
$modal-margin-bottom: var(--modal-margin-bottom, 0.5em);
$img-aspect-ratio: var(--img-aspect-ratio, 16/9);
