@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;

.title {
    font-size: theme.$font-size-extra-small;
    text-transform: uppercase;
    @include spacing.mb(3, xs);
    &.avatarListTitle {
        @include spacing.pt(3, xs);
        @include spacing.mt(3, xs);
        @include spacing.mb(2, xs);
        border-top: 1px solid theme.$background-color-secondary;
    }
}

.uploadAvatarContainer {
    display: flex !important;
    align-items: center !important;
}

.imageInput {
    display: none;
}

.imageInputLabel {
    height: fit-content !important;
    @include spacing.p(2, xs);
    border: 1px solid theme.$call-primary !important;
    border-radius: theme.$box-border-radius !important;
    cursor: pointer !important;
    color: theme.$call-primary !important;
    &:hover {
        opacity: .7;
    }
}

.avatarList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-gap: 30px;
    overflow: auto;
    max-height: 350px;
    @include spacing.px(1, xs);
    @include spacing.py(1, xs);
    &.userChoice {
        padding-bottom: 60px !important;
    }
}

.cancelSelection {
    width: fit-content;
    @include spacing.px(3, xs);
    @include spacing.py(2, xs);
    @include spacing.mb(2, xs);
    background-color: theme.$background-color-secondary;
    color: theme.$text-secondary;
    border-radius: 30px;
    font-size: theme.$font-size-extra-small;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}

.avatar {
    cursor: pointer;
    &.selected {
        box-shadow: 0 0 0 3px theme.$success-primary;
        box-sizing: border-box;
    }
}

.uploadedAvatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @include spacing.mr(2, xs);
    object-fit: cover;
}

.chosenAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.confirm {
    display: flex !important;
    gap: 20px;
    justify-content: center;
    background-color: theme.$background-color-primary;
    @include spacing.p(2.5, xs);
    @include spacing.pr(0, xs);
    @include spacing.mt(1, xs);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
}

.button {
    text-transform: uppercase;
}