@import '~@logora/debate.styles.spacing/_spacing.scss';

.modalContent {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  @include my(2, xs);
  @include p(0, xs);
}

.modalActions {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  @include mt(3, xs);
  @include p(0, xs);
}

.modalActionLeft {
  @include px(5, xs);
  @include mr(4, xs);
}

.modalActionRight {
  @include px(5, xs);
  @include ml(4, xs);
}