@use '@logora/debate.styles.spacing' as spacing;

.modalContent {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  @include spacing.my(2, xs);
  @include spacing.p(0, xs);
}

.modalActions {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  @include spacing.mt(3, xs);
  @include spacing.p(0, xs);
}

.modalActionLeft {
  @include spacing.px(5, xs);
  @include spacing.mr(4, xs);
}

.modalActionRight {
  @include spacing.px(5, xs);
  @include spacing.ml(4, xs);
}