@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.userBox {
	border: $box-border;
	box-shadow: $box-shadow;
	border-radius: $box-border-radius;
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: flex-start !important;
	gap: $spacer;
	@include p(3, xs);
	background-color: $background-color-primary;
	a {
		text-decoration: none;
		color: $text-primary;
	}
}

.userBoxHeader {
	display: flex !important;
	position: relative;
	.userBoxConnectedPin{
		position: absolute;
		content: "";
		width: 14px;
		height: 14px;
		background: $connected-green;
		border-radius: 50%;
		right: 3px;
		bottom: 0;
		border: 2px solid white;
	}
}

.userBoxImage {
	cursor: pointer;
	object-fit: cover;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.userBoxDescription {
	@include text-truncate();
	display: flex !important;
	flex-direction: column !important;
	gap: $spacer-xxs;
}

.userBoxName {
	text-align: left;
	font-weight: $font-weight-bold;
	@include text-truncate();
	color: $text-primary !important;
	cursor: pointer;
	font-size: $font-size-normal;
	border: 0;
}

.userBoxName:hover {
	color: $text-primary;
	text-decoration: underline;
}

.userBoxPoints {
	@include text-truncate();
	display: flex !important;
	align-items: center !important;
	font-size: $font-size-extra-small;
	width: fit-content;
	color: $text-secondary;
}

.userBoxStats {
	display: flex !important;
	flex-wrap: wrap !important;
	gap: $spacer-md;
	font-weight: $font-weight-normal;
	font-size: $font-size-small;
	.userCount {
		@include mr(1, xs);
	}
}