@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.userBox {
	border: theme.$box-border;
	box-shadow: none;
	border-radius: theme.$box-border-radius;
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: flex-start !important;
	gap: spacing.$spacer;
	@include spacing.p(3, xs);
	background-color: theme.$background-color-primary;
	a {
		text-decoration: none;
		color: theme.$text-primary;
	}
}

.userBoxHeader {
	display: flex !important;
	position: relative;
	.userBoxConnectedPin{
		position: absolute;
		content: "";
		width: 14px;
		height: 14px;
		background: theme.$connected-green;
		border-radius: 50%;
		right: 3px;
		bottom: 0;
		border: 2px solid white;
	}
}

.userBoxImage {
	cursor: pointer;
	object-fit: cover;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.userBoxDescription {
	@include display.text-truncate();
	display: flex !important;
	flex-direction: column !important;
	gap: spacing.$spacer-xxs;
}

.userBoxName {
	text-align: left;
	font-weight: theme.$font-weight-bold;
	@include display.text-truncate();
	color: theme.$text-primary !important;
	cursor: pointer;
	font-size: theme.$font-size-normal;
	border: 0;
}

.userBoxName:hover {
	color: theme.$text-primary;
	text-decoration: underline;
}

.userBoxPoints {
	@include display.text-truncate();
	display: flex !important;
	align-items: center !important;
	font-size: theme.$font-size-extra-small;
	width: fit-content;
	color: theme.$text-secondary;
}

.userBoxStats {
	display: flex !important;
	flex-wrap: wrap !important;
	gap: spacing.$spacer-md;
	font-weight: theme.$font-weight-normal;
	font-size: theme.$font-size-small;
	.userCount {
		@include spacing.mr(1, xs);
	}
}