@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.loginForm {
	@include my(3, xs);
	@include my(4, sm);
}

.formGroup {
	@include my(3, xs);
}

.formSubmitGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include my(4, xs);
}

.formSubmitButton {
	border: $box-border;
	box-shadow: $box-shadow;
	border-radius: $box-border-radius;
	background-color: $call-primary !important;
	height: calc(2.25em + 2px);
}

.forgotPassword {
	color: $call-primary !important;
	cursor: pointer;
	width: 100%;
	display: block;
	text-align: right;
	font-size: $font-size-small;
	@include mt(2, xs);
}
