@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.flex' as flex;
@use '@logora/debate.styles.display' as display;

.badgeBox {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
    @include spacing.p(3, xs);
    box-shadow: theme.$box-shadow;
    border-radius: theme.$box-border-radius;
    border: theme.$box-border;
    text-align: center;
    width: 250px;
    max-width: 250px;
    position: relative;
    background-color: theme.$background-color-primary;
}

.level-1 {
    background-color: #C98448;
}

.level-2 {
    background-color: #AFAFAF;
}

.level-3 {
    background-color: #FCBD11;
}

.badgeLevel {
    @include spacing.px(2, xs);
    @include spacing.py(1.5, xs);
    position: absolute;
    top: 0;
    left: 0;
    font-size: theme.$font-size-small;
    color: theme.$text-light;
    border-radius: theme.$box-border-radius 0 theme.$box-border-radius 0;
}

.badgeImageBox {
    @include spacing.mb(2, xs);
}

.badgeImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.badgeName {
    @include spacing.py(2, xs);
    font-weight: theme.$font-weight-bold;
}

.badgeDescription {
    font-size: theme.$font-size-small;
    min-height: 40px;
}

.badgeProgressContainer {
    @include spacing.mt(2, xs);
    width: 100%;
    font-size: theme.$font-size-small;
    color: theme.$text-secondary;
    font-weight: theme.$font-weight-bold;
}

.badgeProgress {
    height: 7px;
    width: 100%;
    border-radius: 8px;
    background-color: theme.$background-color-secondary !important;
}

.badgeReward {
    display: flex !important;
    flex-direction: column !important;
    @include spacing.mt(3, xs);
    @include spacing.p(1, xs);
    border-radius: theme.$box-border-radius;
    width: 100%;
    font-size: theme.$font-size-small;
    color: theme.$text-secondary;
    .rewardName {
        font-weight: theme.$font-weight-bold;
    }
    &.rewardObtained {
        background: theme.$success-primary;
        color: theme.$text-light;
        cursor: pointer;
    }
    &.rewardShown {
        background: theme.$background-color-primary !important;
        color: theme.$success-primary !important;
        cursor: pointer;
        border: 1px solid theme.$success-primary;
    }
}