@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.container {
    display: flex !important;
    flex-direction: row !important;
    border: $box-border;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    visibility: visible;
    transition: visibility 0s 2s;
    @include p(3, xs);
    &.info {
        background-color: $call-primary;
    }
    &.success {
        background-color: $success-primary;
    }
    &.error {
        background-color: $cancel-primary;
    }
}

.body {
    @include mr(5, xs);
}

.closeContainer {
    margin-left: auto !important;
}

.closeButton {
    outline: none;
    background-color: none !important;
    border: none !important;
    color: $text-light !important;
    cursor: pointer;
    font-size: $font-size-extra-small;
}

.message {
    font-size: $font-size-normal;
    color: $text-light;
    font-weight: $font-weight-bold;
}

.points {
    display: flex !important;
    align-items: center;
    gap: $spacer-xxs;
    @include mt(3, xs);
    width: fit-content;
    font-size: $font-size-small;
    color: $text-light;
    .textPoints {
        width: fit-content;
    }
}
