@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;

.container {
    display: flex !important;
    flex-direction: row !important;
    border: theme.$box-border;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow-main-container;
    visibility: visible;
    transition: visibility 0s 2s;
    @include spacing.p(3, xs);
    &.info {
        background-color: theme.$call-primary;
    }
    &.success {
        background-color: theme.$success-primary;
    }
    &.error {
        background-color: theme.$cancel-primary;
    }
}

.body {
    @include spacing.mr(5, xs);
}

.closeContainer {
    margin-left: auto !important;
}

.closeButton {
    outline: none;
    background-color: none !important;
    border: none !important;
    color: theme.$text-light !important;
    cursor: pointer;
    font-size: theme.$font-size-extra-small;
}

.message {
    font-size: theme.$font-size-normal;
    color: theme.$text-light;
    font-weight: theme.$font-weight-bold;
}

.points {
    display: flex !important;
    align-items: center;
    gap: spacing.$spacer-xxs;
    @include spacing.mt(3, xs);
    width: fit-content;
    font-size: theme.$font-size-small;
    color: theme.$text-light;
    .textPoints {
        width: fit-content;
    }
}