@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.authorContainer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.authorName {
    @include spacing.px(2, xs);
    a {
        font-size: theme.$font-size-normal;
        font-weight: theme.$font-weight-bold;
        color: theme.$text-primary !important;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}