@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.dropdownWrapper {
	position: relative;
}

.dropdownHeader {
	border: none;
	padding: 0 !important;
	cursor: pointer;
	outline: none !important;
}

.dropdownList {
	position: absolute;
	top: 35px;
	z-index: 1000;
	background: $background-color-primary;
	box-shadow: $box-shadow;
	border: $box-border;
	border-radius: $box-border-radius;
	width: max-content;
}

.dropdownListMobile {
	@include media-breakpoint-down(md) {
		left: -234px;
		top: 45px;
		width: 100vw;
		max-width: 100vw;
		min-height: 30vh;
	}
}

.dropdownListRight {
	right: 0;
}