@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.translationButton {
    font-size: $font-size-extra-small;
    color: $call-primary;
    cursor: pointer;
    @include px(0, xs);
    @include py(3, xs);
}
