@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.translationButton {
    font-size: theme.$font-size-extra-small;
    color: theme.$call-primary;
    cursor: pointer;
    @include spacing.px(0, xs);
    @include spacing.py(3, xs);
}