@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.display/_display.scss' as display;

.topArguments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: spacing.$spacer;
}

@include display.media-breakpoint-down(xs) {
    .topArguments {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.topArgumentsUnique {
    @extend .topArguments;
    display: flex !important;
    flex-direction: row !important;
}

.topArgument {
    width: 100% !important;
    height: 100% !important;
    min-width: 0;
}

.positionBackground-0 {
    color: theme.$text-light !important;
    background-color: theme.$for-primary !important;
}

.positionBackground-1 {
    color: theme.$text-light !important;
    background-color: theme.$against-primary !important;
}