@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;

.topArguments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacer;
}

@include media-breakpoint-down(xs) {
    .topArguments {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.topArgumentsUnique {
    @extend .topArguments;
    display: flex !important;
    flex-direction: row !important;
}

.topArgument {
    width: 100% !important;
    height: 100% !important;
    min-width: 0;
}

.positionBackground-0 {
    color: $text-light !important;
    background-color: $for-primary !important;
}

.positionBackground-1 {
    color: $text-light !important;
    background-color: $against-primary !important;
}
