@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.ltr {
    text-align: left;
}

.editorContainer {
    color: theme.$text-primary;
    line-height: theme.$line-height-normal;
    font-weight: theme.$font-weight-normal;
    text-align: left;
}

.editorInner {
    background: theme.$background-color-primary;
    position: relative;
    &.editorInnerInactive {
        display: flex !important;
        justify-content: space-between !important;
    }
}

.editorPlaceholder {
    color: theme.$text-primary;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    font-size: theme.$font-size-normal;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.editorInput {
    min-height: 25px;
    resize: none;
    font-size: theme.$font-size-normal;
    position: relative;
    tab-size: 1;
    outline: 0;
    @include spacing.py(3, xs);
    caret-color: theme.$text-primary;
    &.editorInputInactive {
        min-width: 180px;
        width: 100%;
    }
}

.editorTextBold {
    font-weight: theme.$font-weight-bold;
}

.editorTextItalic {
    font-style: italic;
}

.editorTextUnderline {
    text-decoration: underline;
}

.editorTextStrikethrough {
    text-decoration: line-through;
}

.editorTextUnderlineStrikethrough {
    text-decoration: underline line-through;
}

.editorParagraph {
    @include spacing.m(0, xs);
    @include spacing.mb(1, xs);
    position: relative;
}

.editorParagraph:last-child {
    @include spacing.mb(0, xs);
}

.editorQuote {
    @include spacing.m(0, xs);
    @include spacing.pl(3, xs);
    font-size: theme.$font-size-normal;
    color: theme.$text-secondary;
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
}

.editorListOl {
    @include spacing.m(0, xs);
    @include spacing.ml(2, xs);
    @include spacing.p(1, xs);
    list-style-type: decimal !important;
}

.editorListItem {
    @include spacing.mx(3, xs);
    @include spacing.my(2, xs);
}

.editorNestedListItem {
    list-style-type: none;
}

pre::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: theme.$text-secondary;
}

.sourcesBox {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    @include spacing.mt(2, xs);
    @include spacing.px(0, xs);
    @include spacing.py(2, xs);
}

.sourceList {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    @include spacing.px(0, xs);
    @include spacing.py(0, xs);
}

.charactersCount {
    align-self: center;
    font-size: theme.$font-size-small;
    color: theme.$text-primary;
    white-space: nowrap;
    @include spacing.mt(2, xs);
}