@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use "~@logora/debate.styles.display/_display.scss" as display;

.modalContainer {
    display: flex;
    justify-content: center;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    @include spacing.py(3, xs);
    @include display.media-breakpoint-down(xs) {
        @include spacing.mb(3, xs);
        @include spacing.mt(1, xs);
    }
    svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
}
