@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.modalContainer {
    display: flex;
    justify-content: center;
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    @include spacing.py(3, xs);
    @include display.media-breakpoint-down(xs) {
        @include spacing.mb(3, xs);
        @include spacing.mt(1, xs);
    }
    svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }

    button:focus-visible {
        outline: none; 
      }
      
    button:focus-visible {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
      }
}
