@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.modalContainer {
    @include py(3, xs);
    display: flex;
    justify-content: center;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    border: $box-border;
    @include media-breakpoint-down(xs) {
        @include mb(3, xs);
        @include mt(1, xs);
    }
    svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
}
