@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.container {
  position: relative;
}

.label {
  color: theme.$text-secondary;
  pointer-events: none;
  transition: left 300ms, top 300ms, font-size 300ms, padding-top 300ms, transform 300ms, color 300ms,
    background-color 300ms ease-in-out;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: spacing.$spacer-md;
  z-index: 2;
  background-color: theme.$background-color-primary;
  transform: translateY(-50%);
  padding: 0 spacing.$spacer-xxs;
  display: block;

  &.labelActive {
    top: -0.6em;
    transform: none;
    font-size: 0.8rem;
  }
}

.textInput {
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  @include spacing.px(3, xs);
  @include spacing.py(2.5, xs);
  font-size: inherit;
  font-family: inherit;
  border: theme.$button-border;
  border-radius: theme.$button-border-radius;
  background-color: theme.$background-color-primary;
  color: theme.$text-primary;
  position: relative;
  z-index: 1;

  // keep precedence! filled < hover < success < error < disabled
  &.filled {
    background-color: theme.$background-color-secondary;
  }

  &::placeholder {
    opacity: 0;
    color: theme.$text-secondary;
  }

  &:hover {
    border: 1px solid theme.$text-secondary;
  }

  &:focus {
    border: 1px solid theme.$text-secondary !important;
    background-color: theme.$background-color-primary;

    &~label {
      color: theme.$text-secondary !important;
    }
  }

  &.success {
    border: 1px solid theme.$success-primary !important;

    &~label {
      color: theme.$success-primary;
    }
  }

  &.error {
    border: 1px solid theme.$cancel-primary !important;

    &~label {
      color: theme.$cancel-primary;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: theme.$text-tertiary;
    border: 1px solid theme.$darken-text-tertiary;

    &~label {
      color: theme.$darkest-text-tertiary;
    }
  }
}

.textInputWithRightIcon {
  position: relative;
  font-size: inherit;

  .textInput {
    padding-right: 2em !important;
  }

  // right icon element
  > :last-child {
    font-size: inherit;
    color: inherit;
    position: absolute;
    right: spacing.$spacer-md;
    top: calc(50% - 0.6rem);
    width: 16px;
  }
}

.textInputWithLeftIcon {
  position: relative;
  font-size: inherit;

  .textInput {
    padding-left: 2.5em !important;
  }

  .label {
    left: 2.5em;

    &.labelActive {
      left: spacing.$spacer-md;
    }
  }

  // left icon element
  > :first-child {
    font-size: inherit;
    color: inherit;
    position: absolute;
    left: spacing.$spacer-md;
    top: calc(50% - 0.6rem);
    width: 16px;
    height: 16px;
    z-index: 3;
  }
}

.errorMessage {
  font-size: 0.8em;
  padding-top: spacing.$spacer-md;
  color: theme.$cancel-primary;
}