@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.socialLoginLogo {
	width: 200px !important;
	height: 50px !important;
	object-fit: contain;
	margin-bottom: 25px;
	align-self: center;
}

.socialLoginText {
	margin-bottom: 25px;
	text-align: center;
}

.formTitleContainer {
	display: flex;
	flex-direction: column;
	@include spacing.mb(2, xs);
}

.formTitle {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	font-size: theme.$font-size-large;
}

.formBackArrow {
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-start !important;
	align-items: center !important;
	font-size: theme.$font-size-normal;
	color: theme.$text-secondary;
	cursor: pointer;
	svg {
		fill: theme.$text-secondary;
	}
	&:hover {
		opacity: 0.9;
	}
	@include spacing.mb(4, xs);
}

.signUpSubtitle {
	font-size: theme.$font-size-small;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include spacing.mb(2, xs);
}

.authFormContent {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.loginFormContainer {
	@include spacing.mx(5, xs);
}

.formFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: theme.$font-size-small;
	.formFooterRow {
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;
	}
}

.formFooterTerms {
	@include spacing.mt(3, xs);
	font-size: theme.$font-size-small;
	text-align: center;
}

.termsLink {
	color: theme.$call-primary !important;
}

.formNavigation {
	color: theme.$text-primary !important;
	cursor: pointer;
}


.mailLoginButton {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
	border: theme.$box-border;
	border-radius: theme.$box-border-radius;
	cursor: pointer;
	width: 300px !important;
	height: 50px !important;
	margin-bottom: 15px;
	@include spacing.p(3, xs);
	&:hover {
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
	}
	svg {
		height: 35px;
		width: 35px;
		border-right: 1px solid theme.$background-color-secondary;
		@include spacing.pr(2, xs);
	}
}

.textMailLoginButton {
	width: 100%;
	text-align: left;
	@include spacing.pl(3, xs);
}

.checkboxContainer {
	display: flex !important;
	justify-content: center !important;
	@include spacing.px(3, xs);
	@include spacing.pt(2, xs);
	@include spacing.pb(4, xs);
}

.errorGroup {
	color: theme.$cancel-primary;
	display: flex !important;
	align-items: center !important;
	text-align: center;
	@include spacing.mb(2, xs);
}