@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.socialLoginLogo {
	width: 200px !important;
	height: 50px !important;
	object-fit: contain;
	margin-bottom: 25px;
	align-self: center;
}

.socialLoginText {
	margin-bottom: 25px;
	text-align: center;
}

.formTitleContainer {
	display: flex;
	flex-direction: column;
	@include mb(2, xs);
}

.formTitle {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	font-size: $font-size-large;
}

.formBackArrow {
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-start !important;
	align-items: center !important;
	font-size: $font-size-normal;
	color: $text-secondary;
	cursor: pointer;
	svg {
		fill: $text-secondary;
	}
	&:hover {
		opacity: 0.9;
	}
	@include mb(4, xs);
}

.signUpSubtitle {
	font-size: $font-size-small;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include mb(2, xs);
}

.authFormContent {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.loginFormContainer {
	@include mx(5, xs);
}

.formFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: $font-size-small;
	.formFooterRow {
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;
	}
}

.formFooterTerms {
	@include mt(3, xs);
	font-size: $font-size-small;
	text-align: center;
}

.termsLink {
	color: $call-primary !important;
}

.formNavigation {
	color: $call-primary !important;
	cursor: pointer;
}


.mailLoginButton {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
	border: $box-border;
	box-shadow: $box-shadow;
	border-radius: $box-border-radius;
	cursor: pointer;
	width: 300px !important;
	height: 50px !important;
	margin-bottom: 15px;
	@include p(3, xs);
	&:hover {
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);;
	}
	svg {
		height: 35px;
		width: 35px;
		border-right: 1px solid $background-color-secondary;
		@include pr(2, xs);
	}
}

.textMailLoginButton {
	width: 100%;
	text-align: left;
	@include pl(3, xs);
}

.checkboxContainer {
	display: flex !important;
	justify-content: center !important;
	@include px(3, xs);
	@include pt(2, xs);
	@include pb(4, xs);
}

.errorGroup {
	color: $cancel-primary;
	display: flex !important;
	align-items: center !important;
	text-align: center;
	@include mb(2, xs);
}