@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.theme' as theme;


.reportBox {
  width: 100%;
}

.reportItem {
  border: theme.$box-border;
  border-radius: theme.$box-border-radius;
  box-shadow: theme.$box-shadow;
  transition: margin-top 2s;
  background-color: theme.$background-color-primary;
}

.reportHeader {
  padding: spacing.$spacer-md spacing.$spacer-md;
}

.reportReason {
  display: flex;
  color: theme.$against-primary;
  gap: spacing.$spacer-xs;
  margin-bottom: spacing.$spacer-md;
  font-size: theme.$font-size-small;
  align-items: center;
}

svg.warningIcon {
  circle {
    stroke: theme.$against-primary;
    stroke-width: 1.5px;
  }

  path {
    fill: theme.$against-primary;
  }
}

.statusMessage {
  margin-top: spacing.$spacer-xs;
  font-size: theme.$font-size-small;
}

.reportHighlighted {
  border-color: theme.$call-primary !important;
  -webkit-transition: box-shadow 0.8s ease-in-out;
	-moz-transition: box-shadow 0.8s ease-in-out;
	-o-transition: box-shadow 0.8s ease-in-out;
	transition: box-shadow 0.8s ease-in-out;
	box-shadow: -4px 4px 15px 3px rgba(0, 0, 0, 0.15);
}