@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.searchSubmit, .searchReset {
	cursor: pointer;
}

.searchButton {
	border: 0;
}

.searchReducedButton {
	border: $box-border;
	border-radius: $box-border-radius;
	@include px(3, xs);
	@include py(2.5, xs);
	cursor: pointer;
}
