@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.searchSubmit, .searchReset {
	cursor: pointer;
}

.searchButton {
	border: 0;
}

.searchReducedButton {
	border: $box-border;
	box-shadow: $box-shadow;
	border-radius: $box-border-radius;
	@include px(3, xs);
	@include py(2.5, xs);
	cursor: pointer;
}