@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;

.searchSubmit, .searchReset {
	cursor: pointer;
}

.searchButton {
	border: 0;
}

.searchReducedButton {
	border: theme.$box-border;
	border-radius: theme.$box-border-radius;
	@include spacing.px(3, xs);
	@include spacing.py(2.5, xs);
	cursor: pointer;
}