@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.paginationBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginationBox > button.paginationButton {
  border-color: $darkest-text-tertiary !important;
  font-weight: $font-weight-bold;
  color: $text-primary !important;
}