@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.paginationBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}