@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.navTabs {
    display: flex;
    flex-wrap: nowrap;
    gap: $spacer-lg;
    white-space: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 0 !important;
    list-style: none;

    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @include media-breakpoint-down(xs) {
        font-size: $font-size-normal;
        gap: $spacer;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .navItem {
        margin-bottom: -1px;
    }

    .navLink {
        border: 1px solid transparent;
        border-top-left-radius: $box-border-radius;
        border-top-right-radius: $box-border-radius;

        &:hover, &:focus {
            border-color: $text-tertiary $text-tertiary $darken-text-tertiary;
        }

        &.disabled {
            color: $darkest-text-tertiary;
            background-color: transparent;
            border-color: transparent;
        }
    }

    .navLink.active,
    .navItem.show .navLink {
        color: $text-secondary;
        background-color: $background-color-primary;
        border-color: $darken-text-tertiary $darken-text-tertiary $background-color-primary;
    }
}

.navLink {
    display: block;
    padding-bottom: $spacer-xs;

    &:hover, &:focus{
        text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
        color: $darkest-text-tertiary;
        pointer-events: none;
        cursor: default;
    }
}

.tabContent {
    > .tabPane {
        display: none;
    }
    > .active {
        display: block;
    }
}

.navTabs .navItem {
    cursor: pointer;
    position: relative;
}

.navLink.active, .navLink:focus, .navLink.active:hover {
    background: transparent;
    border-width: 0 !important;
}

.navLink {
    border: none !important;
    color: $text-secondary;
    outline: 0;
}

.navLink.active, .navLink:hover { 
    border: none !important; 
    color: $text-primary !important; 
    background: transparent; 
    font-weight: $font-weight-bold; 
}

.navLink::after { 
    content: ""; 
    background-color: $text-primary;
    height: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
 }

.navLink.active::after, .navTabs > .navItem:hover > .navLink::after { 
    transform: scale(1); 
}

.navLink.active:hover { 
    background: transparent; 
}

.tabPane {
    padding: 10px 0;
    min-height: 50vh;
}
