@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

:global(.MuiTab-root:focus) {
    outline: none !important;
}

.navTabs {
    display: flex;
    flex-wrap: nowrap;
    gap: spacing.$spacer-lg;
    white-space: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 0 !important;
    list-style: none;

    @include display.media-breakpoint-down(xs) {
        font-size: theme.$font-size-normal;
        gap: spacing.$spacer;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .navItem {
        margin-bottom: -1px;
    }

    .navLink {
        border: 1px solid transparent;
        border-top-left-radius: theme.$box-border-radius;
        border-top-right-radius: theme.$box-border-radius;

        &:hover,
        &:focus {
            border-color: theme.$text-tertiary theme.$text-tertiary theme.$darken-text-tertiary;
        }

        &.disabled {
            color: theme.$darkest-text-tertiary;
            background-color: transparent;
            border-color: transparent;
        }
    }

    .navLink.active,
    .navItem.show .navLink {
        color: theme.$text-secondary;
        background-color: theme.$background-color-primary;
        border-color: theme.$darken-text-tertiary theme.$darken-text-tertiary theme.$background-color-primary;
    }
}

.navLink {
    display: block;
    padding-bottom: spacing.$spacer-xs;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
        color: theme.$darkest-text-tertiary;
        pointer-events: none;
        cursor: default;
    }
}

.tabContent {
    >.tabPane {
        display: none;
    }

    >.active {
        display: block;
    }
}

.navTabs .navItem {
    cursor: pointer;
    position: relative;
}

.navLink.active,
.navLink:focus,
.navLink.active:hover {
    background: transparent;
    border-width: 0 !important;
}

.navLink {
    border: none !important;
    color: theme.$text-primary;
    outline: 0;
}

.navLink.active,
.navLink:hover {
    border: none !important;
    color: theme.$text-primary !important;
    background: transparent;
    font-weight: theme.$font-weight-bold;
}

.navLink::after {
    content: "";
    background-color: theme.$text-primary;
    height: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.navLink.active::after,
.navTabs>.navItem:hover>.navLink::after {
    transform: scale(1);
}

.navLink.active:hover {
    background: transparent;
}

.tabPane {
    padding: 10px 0;
    min-height: 50vh;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacer-lg;
    @include spacing.mt(2.5, xs);

    @include display.media-breakpoint-down(xs) {
        gap: spacing.$spacer;
    }
}

.tab {
    color: theme.$text-primary !important;
    @include spacing.px(0, xs);
}

.tabSelected {
    color: theme.$text-primary !important;
    font-weight: theme.$font-weight-bold !important;
}

.tabIndicator {
    background: theme.$text-primary !important;
}
