@import '~@logora/debate.styles.theme/_theme.scss';
@import "~@logora/debate.styles.spacing/_spacing.scss";

.contentBox {
	display: flex !important;
	flex-direction: column !important;
	gap: $box-spacing;
	padding: $box-spacing !important;
	border-radius: $box-border-radius;
	box-shadow: $box-shadow;
	border: $box-border;
	min-width: 0;
}

.contentBody {
	display: flex !important;
	flex-direction: column !important;
	font-size: $font-size-small;
	white-space: pre-line;
	line-height: $line-height-normal;
}

.title {
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	&::first-letter {
		text-transform: uppercase;
	}
	@include pb(2, xs);
}

.contentBoxFooter {
	display: block !important;
	background-color: $call-primary;
	color: $text-light;
	text-align: center;
	border-radius: 0 0 $box-border-radius $box-border-radius;
	padding: 0.75em !important;
	font-weight: $font-weight-bold;
	font-size: $font-size-small !important;
	text-decoration: none !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&:hover {
		opacity: 0.9;
		text-decoration: none !important;
		color: $text-light !important;
		cursor: pointer;
	}
	&:active, &:focus {
		color: $text-light;
	}
}

.readMore {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.arrow {
	transform: scaleX(-1);
	display: inline-block;
}