@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use "~@logora/debate.styles.spacing/_spacing.scss" as spacing;

.contentBox {
	display: flex !important;
	flex-direction: column !important;
	gap: spacing.$box-spacing;
	padding: spacing.$box-spacing !important;
	border-radius: theme.$box-border-radius;
	box-shadow: theme.$box-shadow;
	border: theme.$box-border;
	min-width: 0;
}

.contentBody {
	display: flex !important;
	flex-direction: column !important;
	font-size: theme.$font-size-small;
	white-space: pre-line;
	line-height: theme.$line-height-loose;
}

.title {
	font-size: theme.$font-size-small;
	font-weight: theme.$font-weight-bold;
	&::first-letter {
		text-transform: uppercase;
	}
	@include spacing.pb(2, xs);
}

.contentBoxFooter {
	display: block !important;
	background-color: theme.$call-primary;
	color: theme.$text-light;
	text-align: center;
	border-radius: 0 0 theme.$box-border-radius theme.$box-border-radius;
	padding: 0.75em !important;
	font-weight: theme.$font-weight-bold;
	font-size: theme.$font-size-small !important;
	text-decoration: none !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&:hover {
		opacity: 0.9;
		text-decoration: none !important;
		color: theme.$text-light !important;
		cursor: pointer;
	}
	&:active, &:focus {
		color: theme.$text-light;
	}
}

.readMore {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.arrow {
	transform: scaleX(-1);
	display: inline-block;
}