@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.modalWrapper {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000002;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modalWrapperFullScreen {
  background: $background-color-primary;
}

.modalDialog {
  min-height: calc(100% - (1.75rem * 2));
  transform: translate(0,0);
  max-width: 500px;
  position: relative;
  width: auto;
  margin: 1.75em auto;
  display: flex;
  align-items: center;
}

.modalDialogFullScreen {
  min-height: 100%;
  max-width: none;
  margin: 0 !important;
}

.modalContainer {
  background: $background-color-primary;
  border-radius: $box-border-radius;
  width: 100%;
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  @include p(3, xs);
}

.modalHeader {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  @include px(3, xs);
  @include pb(1, xs);
  width: 100%;
  font-weight: $font-weight-bold;
  .modalExitButton {
    line-height: $line-height-none;
    opacity: 1;
    margin-left: auto;
    &:hover {
      color: $text-secondary;
      cursor: pointer;
    }

    &:not(:disabled):not(.disabled) {
      &:hover, &:focus {
        opacity: .75;
      }
    }
  }
}

.modalHeaderWithTitle {
  @include mb(3, xs);
}

.modalContent {
  @include px(3, xs);
  width: 100%;
}

@media screen and (max-width: 575px) {
  .modalContainer {
    margin: 0.75em;
  }
}
