@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.modalDialog {
  border: none;
  padding: 0;
  max-width: 500px;
  width: auto;
  margin: auto;
  background: transparent;
  
  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
}

.modalDialogFullScreen {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  
  &::backdrop {
    background: theme.$background-color-primary;
  }
}

.modalContainer {
  background: theme.$background-color-primary;
  border-radius: theme.$box-border-radius;
  width: 100%;
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  @include spacing.p(3, xs);

  @include display.media-breakpoint-down(xs) {
    margin: 0.75em;
  }
}

.modalHeader {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  width: 100%;
  font-weight: theme.$font-weight-bold;
  @include spacing.px(3, xs);
  @include spacing.pb(1, xs);

  .modalExitButton {
    line-height: theme.$line-height-none;
    opacity: 1;
    margin-left: auto;
    background: transparent;
    border: none;
    padding: 0;
    appearance: none;
    &:hover {
      color: theme.$text-secondary;
      cursor: pointer;
    }

    &:not(:disabled):not(.disabled) {
      &:hover, &:focus {
        opacity: .75;
      }
    }
  }
}

.modalHeaderWithTitle {
  @include spacing.mb(3, xs);
}

.modalContent {
  width: 100%;
  @include spacing.px(3, xs);
}
