@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '~@logora/debate.styles.display/_display.scss' as display;

.modalWrapper {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000002;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modalWrapperFullScreen {
  background: theme.$background-color-primary;
}

.modalDialog {
  min-height: calc(100% - (1.75rem * 2));
  transform: translate(0,0);
  max-width: 500px;
  position: relative;
  width: auto;
  margin: 1.75em auto;
  display: flex;
  align-items: center;
}

.modalDialogFullScreen {
  min-height: 100%;
  max-width: none;
  margin: 0 !important;
}

.modalContainer {
  background: theme.$background-color-primary;
  border-radius: theme.$box-border-radius;
  width: 100%;
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  @include spacing.p(3, xs);

  @include display.media-breakpoint-down(xs) {
    margin: 0.75em;
  }
}

.modalHeader {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  width: 100%;
  font-weight: theme.$font-weight-bold;
  @include spacing.px(3, xs);
  @include spacing.pb(1, xs);

  .modalExitButton {
    line-height: theme.$line-height-none;
    opacity: 1;
    margin-left: auto;
    &:hover {
      color: theme.$text-secondary;
      cursor: pointer;
    }

    &:not(:disabled):not(.disabled) {
      &:hover, &:focus {
        opacity: .75;
      }
    }
  }
}

.modalHeaderWithTitle {
  @include spacing.mb(3, xs);
}

.modalContent {
  width: 100%;
  @include spacing.px(3, xs);
}
