@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.display/_display.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.authorBox {
    display: flex !important;
    flex-direction: row !important;
    @include p(0, xs);
    @include pr(2, xs);
    width: 100%;
}

.authorNameBox {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    @include ml(2.5, xs);
    @include text-truncate();
}

.authorName {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    cursor: pointer;
    color: $text-primary;
    line-height: 1.4em;
    @include text-truncate();
    @include pb(1, xs);
}

.authorName a {
    color: inherit !important;
    text-decoration: none !important;
}


.authorName a:hover {
    text-decoration: underline !important;
    color: $text-primary !important;
}

.authorNameLine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacer-sm;
    .expertContainer, .linkDisabled {
        cursor: default;
        color: $text-secondary;
    }
    .expertContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: $spacer-xxs;
    }
    .expertBadge {
        font-weight: $font-weight-normal;
        font-size: $font-size-extra-small;
        overflow: hidden;
    }
}

.authorPointsBox {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    font-weight: $font-weight-normal;
    font-size: $font-size-extra-small;
    color: $text-primary;
    gap: $spacer-xs;
}

.occupationBox {
    @extend .authorPointsBox;
    align-items: flex-start !important;
    @include pt(2, xs);
}

@media(max-width: 768px) {
    .authorNameBox {
        font-size: $font-size-small;
    }
}

.authorPoints {
    color: $text-secondary;
}

.separator {
    width: 3px;
    height: 3px;
    background-color: $text-secondary;
    border-radius: 50%;
}