@import '~@logora/debate.styles.theme/_theme.scss';

.readMore {
    position: relative;
}

.readMoreElement {
    display: inline;
    white-space: nowrap;
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $text-primary !important;
    cursor: pointer;
}

.lineClamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    transition: 'max-height 0.3s';
}

.readMoreWrapper {
    background: $background-color-primary;
    text-align: right;
}