@use '@logora/debate.styles.theme' as theme;

.readMore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.pointer {
        cursor: pointer;
    }
}

.contentContainer {
    position: relative;
    width: 100%;
}

.contentWrapper {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.readMoreWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, theme.$background-color-primary 30%, theme.$background-color-primary);
    //background: theme.;
    padding-left: 40px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.readMoreElement {
    display: inline;
    white-space: nowrap;
    font-weight: theme.$font-weight-bold;
    text-decoration: none;
    color: theme.$text-primary !important;
    cursor: pointer;
}

.readLessWrapper {
    position: relative;
    margin-top: 8px;
    text-align: right;
    width: 100%;
}

.readLessElement {
    display: block;
    font-weight: theme.$font-weight-bold;
    text-decoration: none;
    cursor: pointer;
}

.ellipsis {
    display: inline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}