@import '~@logora/debate.styles.theme/_theme.scss';

.readMore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.pointer {
        cursor: pointer;
    }
}

.readMoreWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $background-color-primary;
    display: flex;
    align-items: center;
    z-index: 1;
}

.readMoreElement {
    display: inline;
    white-space: nowrap;
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $text-primary !important;
    cursor: pointer;
}

.readLessWrapper {
    position: relative;
    margin-top: 0;
    text-align: right;
    width: 100%;
}

.readLessElement {
    display: block;
    margin-top: 0;
    font-weight: $font-weight-bold;
    text-decoration: none;
}

.ellipsis {
    display: inline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}