@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

button.primaryButton, a.primaryButton {
  @include spacing.px(3, xs);
	@include spacing.py(2.5, xs);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: theme.$button-border-radius !important;
  transition: background-color 300ms ease-in-out;
  background-color: theme.$call-primary !important;
  border: 1px solid;
  border-color: theme.$call-primary !important;
  color: theme.$text-light !important;
  font-size: theme.$font-size-normal;
  font-weight: theme.$font-weight-bold;
  cursor: pointer;
  -webkit-appearance: initial !important;
  text-decoration: none !important;
  gap: spacing.$spacer-sm;
  
  &.iconOnly {
    padding: 0.6em 0.8em;
    > svg {
      margin: 0 !important;
    }
  }

  & > svg {
    fill: theme.$text-light;
    fill-rule: evenodd;
    color: inherit;
  }

  &.danger {
    background-color: theme.$cancel-primary !important;
    border-color: theme.$cancel-primary !important;
  }

  &.success {
    background-color: theme.$success-primary !important;
    border-color: theme.$success-primary !important;
  }

  &.active {
    background-color: theme.$background-color-primary !important;
    color: theme.$call-primary !important;

    &.active > svg {
      fill: theme.$call-primary;
      fill-rule: evenodd;
    }

    &.danger {
      color: theme.$cancel-primary !important;
      border-color: theme.$cancel-primary !important;
    }
  
    &.success {
      color: theme.$success-primary !important;
      border-color: theme.$success-primary !important;
    }
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    opacity: 0.9;
    color: theme.$text-light !important;
    background-color: theme.$call-primary !important;
    text-decoration: none !important;

    &.danger {
      background-color: theme.$cancel-primary !important;
    }

    &.success {
      background-color: theme.$success-primary !important;
    }

    &.active {
      background-color: theme.$background-color-primary !important;
      color: theme.$call-primary !important;
      
      &.danger {
        color: theme.$cancel-primary !important;
      }
  
      &.success {
        color: theme.$success-primary !important;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    background-color: theme.$background-color-secondary;
    color: theme.$text-secondary;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.125em var(--bit-accent-bg, theme.$darken-text-tertiary);
  }

  &.withoutBorder {
    border: 1px solid transparent !important;
    box-shadow: none !important;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

// .withLeftIcon {
//   > svg {
//     margin-right: 10px;
//   }
// }
// .withRightIcon {
//   > svg {
//     margin-left: 10px;
//   }
// }