@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

button.primaryButton, a.primaryButton {
  @include px(3, xs);
	@include py(2.5, xs);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $box-border-radius !important;
  transition: background-color 300ms ease-in-out;
  background-color: $call-primary !important;
  border: 1px solid;
  border-color: $call-primary !important;
  color: $text-light !important;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  cursor: pointer;
  -webkit-appearance: initial !important;
  text-decoration: none !important;
  gap: $spacer-sm;
  
  &.iconOnly {
    padding: 0.6em 0.8em;
    > svg {
      margin: 0 !important;
    }
  }

  & > svg {
    fill: $text-light;
    fill-rule: evenodd;
    color: inherit;
  }

  &.danger {
    background-color: $cancel-primary !important;
    border-color: $cancel-primary !important;
  }

  &.success {
    background-color: $success-primary !important;
    border-color: $success-primary !important;
  }

  &.active {
    background-color: $background-color-primary !important;
    color: $call-primary !important;

    &.active > svg {
      fill: $call-primary;
      fill-rule: evenodd;
    }

    &.danger {
      color: $cancel-primary !important;
      border-color: $cancel-primary !important;
    }
  
    &.success {
      color: $success-primary !important;
      border-color: $success-primary !important;
    }
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    opacity: 0.9;
    color: $text-light !important;
    background-color: $call-primary !important;
    text-decoration: none !important;

    &.danger {
      background-color: $cancel-primary !important;
    }

    &.success {
      background-color: $success-primary !important;
    }

    &.active {
      background-color: $background-color-primary !important;
      color: $call-primary !important;
      
      &.danger {
        color: $cancel-primary !important;
      }
  
      &.success {
        color: $success-primary !important;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    background-color: $background-color-secondary;
    color: $text-secondary;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.125em var(--bit-accent-bg, $darken-text-tertiary);
  }

  &.withoutBorder {
    border: 1px solid transparent !important;
    box-shadow: none !important;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

// .withLeftIcon {
//   > svg {
//     margin-right: 10px;
//   }
// }
// .withRightIcon {
//   > svg {
//     margin-left: 10px;
//   }
// }