@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.skeletonContainer {
    position: relative;
}

.childrenLayer {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.border {
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    border: $box-border;
    @include p(3, xs);
}