@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.skeletonContainer {
    position: relative;
}

.skeletonHeader {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.skeletonHeaderLines {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    text-align: left;
    @include spacing.mt(2, xs);
    flex: 1;
    min-width: 80px;
}

.skeletonBody {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    @include spacing.mt(2, xs);
}

.childrenLayer {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.border {
    border-radius: theme.$box-border-radius;
    box-shadow: theme.$box-shadow;
    border: theme.$box-border;
    @include spacing.p(3, xs);
}

.tagContainer {
    display: flex !important;
	flex-direction: column !important;
	align-items: flex-end !important;
	justify-content: flex-start !important;
	padding: 0 !important;
	width: max-content;
	margin-left: auto;
    @include spacing.mt(2, xs);
}

.tagBox {
	font-weight: theme.$font-weight-bold;
	display: flex !important;
	align-items: center !important;
	justify-content: flex-end !important;
	border-radius: theme.$box-border-radius;
	background-color: theme.$call-primary;
}

.tag {
	font-size: theme.$font-size-extra-small;
	color: theme.$text-light;
	@include display.line-clamp(2);
	max-height: 3.4em;
	@include spacing.px(2.5, xs);
	@include spacing.py(2, xs);
}