@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.skeletonContainer {
    position: relative;
}

.skeletonHeader {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.skeletonHeaderLines {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    text-align: left;
    @include m(2, xs);
    flex: 1;
    min-width: 80px;
}

.skeletonBody {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    @include mt(2, xs);
}

.childrenLayer {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.border {
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    border: $box-border;
    @include p(3, xs);
}

.tagContainer {
    display: flex !important;
	flex-direction: column !important;
	align-items: flex-end !important;
	justify-content: flex-start !important;
	padding: 0 !important;
	width: max-content;
	margin-left: auto;
    @include mt(2, xs);
}

.tagBox {
	font-weight: $font-weight-bold;
	display: flex !important;
	align-items: center !important;
	justify-content: flex-end !important;
	border-radius: $box-border-radius;
	background-color: $call-primary;
}

.tag {
	font-size: $font-size-extra-small;
	color: $text-light;
	@include line-clamp(2);
	max-height: 3.4em;
	@include px(2.5, xs);
	@include py(2, xs);
}