@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '@logora/debate.styles.display/_display.scss' as display;

.headerBox {
    display: flex !important;
    flex-direction: column !important;
    @include spacing.p(0, xs);
}

.headerBoxLabel {
    display: flex !important;
    justify-content: flex-start !important;
    > .titleRedirectUrl {
        background: theme.$background-color-primary !important;
        &:hover {
            background: theme.$background-color-primary !important;
        }
    }
}

.headerLiveStat {
    margin-left: auto !important;
    @include spacing.mr(2, xs);
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    color: theme.$call-primary;
    font-size: theme.$font-size-small;
    margin-left: 30px;
    span {
        margin-left: 10px;
        @include spacing.mb(0, xs);
    }
}

@media (prefers-color-scheme: dark) {
  :global(.logoraDarkMode) {
    .headerLiveStat {
      color: white !important;
    }
    .headerLiveNow {
        background-color: white !important;
        &::before{
            background-color: white !important;
        }
    }
  }
}

.headerLiveNow {
    min-width: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: theme.$call-primary;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: theme.$call-primary;
        opacity: 0.4;
        animation-name: livePin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
    }
}

.headerLivePin {
    @include display.display(block, sm);
    @include display.display(none, xs);
}

.headerLivePinMobile {
    @include display.display(none, sm);
    @include display.display(block, xs);
}

@keyframes livePin { 
    0% { transform: scale(2.3) }
    50% { transform: scale(0) }
    100% { transform: scale(2.3) }
}

.headerLabelText {
    background-color: theme.$call-primary;
    color: theme.$text-light;
    border-bottom: 1px solid;
    border-color: theme.$call-primary;
    border-radius: theme.$box-border-radius 0 theme.$box-border-radius 0;
    font-size: theme.$font-size-normal;
    flex-wrap: nowrap;
    white-space: nowrap;
    @include spacing.px(2, xs);
    @include spacing.py(2, xs);
}

.debateName {
    color: theme.$text-primary;
    font-weight: theme.$font-weight-bold;
    text-align: center;
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    @include spacing.pb(0, xs);
    @include spacing.pt(3, xs);
    @include spacing.px(3, xs);
    @include spacing.px(0, sm);
    a.debateLink {
        color: theme.$text-primary !important;
    }
}

.debateLink {
    font-size: theme.$font-size-large;
    line-height: theme.$line-height-normal;
    background: theme.$background-color-primary !important;
    text-decoration: none !important;
    color: theme.$text-primary;
    font-weight: theme.$font-weight-bold;
    &:hover {
        background: theme.$background-color-primary !important;
        text-decoration: underline !important;
    }
}

.left {
    justify-content: flex-start !important;
    @include spacing.px(3, xs);
    @include spacing.pt(3, xs);
    @include spacing.pb(0, xs);
    text-align: left;
}

.headerLogo {
	width: 100px !important;
	height: 40px !important;
    object-fit: contain;
	object-position: left;
}

.debateNameWithLogo {
    @include px(0, xs);
}