@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;

.container {
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-start !important;
	align-items: center !important;
	align-self: center;
	margin-bottom: 15px;
	border: theme.$box-border;
	border-radius: theme.$box-border-radius;
	width: 300px;
	height: 50px;
	padding: 1em;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
	}
}

.icon {
	height: 35px;
	width: 35px;
	border-right: 1px solid theme.$background-color-secondary;
	@include spacing.mr(2, xs);
	@include spacing.pr(3, xs);
}