@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.googleLoginContainer {
	align-self: center;
	margin-bottom: 15px;
	border-radius: $box-border-radius;
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-start !important;
	align-items: center !important;
	width: 300px;
	height: 50px;
	border: $box-border;
	padding: 1em;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
	}
}

.googleLoginIcon {
	height: 35px;
	width: 35px;
	border-right: 1px solid $background-color-secondary;
	@include mr(2, xs);
	@include pr(3, xs);
}