@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.display' as display;
@use '@logora/debate.styles.spacing' as spacing;

.contentHeaderContainer {
	display: flex !important;
	flex-direction: column !important;
	gap: spacing.$spacer;
}

.contentHeader {
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-start !important;
	font-size: theme.$font-size-normal;
}

.contentHeaderAuthorBox {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	padding: 0 !important;
	overflow: hidden;
	flex: 1;
}

.contentHeaderDate {
	color: theme.$text-secondary;
	font-size: theme.$font-size-small;
	font-weight: theme.$font-weight-normal;
	text-align: right;
	@include spacing.pt(2, xs);
}

.contentHeaderRight {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-end !important;
	justify-content: center !important;
	padding: 0 !important;
	width: auto; 
	margin-left: auto;
	min-width: 0;     
	width: auto; 
}

.contentHeaderTagBox {
	font-weight: theme.$font-weight-bold;
	display: flex !important;
	align-items: center !important;
	justify-content: flex-end !important;
	border-radius: theme.$box-border-radius;
	background-color: theme.$call-primary;
	max-width: 190px;
	min-width: 0;
}

.contentHeaderTag {
	font-size: theme.$font-size-small;
	color: theme.$text-light;
	@include spacing.px(2.5, xs);
	@include spacing.py(2, xs);
	flex: 1 1 auto;       
	min-width: 0;  
	display: block;  
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap; 
}

.selectedContent {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	color: theme.$text-primary;
	font-size: theme.$font-size-small;
	gap: spacing.$spacer-xs;
	flex-wrap: wrap;

	@include display.media-breakpoint-down(xs) {
		font-size: theme.$font-size-small;
	}
}

.moderationInfo {
	display: flex;
	flex-direction: column;
	gap: spacing.$spacer-xs;
}

.moderationReason {
	display: flex;
	color: theme.$info-primary;
	gap: spacing.$spacer-xs;
}

.moderationLink {
	color: theme.$call-primary;
	font-weight: bold;
	text-decoration: underline !important;
}

svg.warningIcon {
	circle {
		stroke: theme.$info-primary;
		stroke-width: 1.5px;
	}
	path {
		fill: theme.$info-primary;
	}
}
