@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.container {
    font-size: theme.$font-size-normal;
    font-weight: theme.$font-weight-normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: spacing.$spacer-lg;

    @include display.media-breakpoint-down(sm) {
        font-size: theme.$font-size-normal;
    }
}

.container[max-width~="1280px"] {
    .replyAction {
        font-size: theme.$font-size-extra-small;
    }
}

.voteAction {
    padding: 0 !important;
}

.moreAction {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    text-align: right;
}

.moreActionDropdown {
    display: flex !important;
}

.replyAction {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;

    &:focus {
        outline: none;        
        box-shadow: none;  
    }
    
    .replyText {
        @include spacing.ml(2, xs);
    }
}

.dropdownItem {
    display: block;
    width: 100%;
    clear: both;
    text-align: inherit; 
    white-space: nowrap;
    background-color: transparent; 
    border: 0;
    text-align: left;
    font-size: theme.$font-size-small;
    @include spacing.p(2, xs);
    @include spacing.px(3, xs);
    &:hover{
        background-color: rgba(0, 0, 0, 0.03);
    }
}
