@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.shareButtonContainer {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  padding: 0 !important;
  cursor: pointer;
}

.popoverWrapper {
  position: relative;
  display: flex !important;
  align-items: center !important;
  color: theme.$text-primary;
}

.popoverWrapper.popoverActive .popoverContent {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0%);
}

.popoverContent {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 25%;
  top: 35px;
  padding: spacing.$spacer;
  border: 1px solid theme.$text-secondary;
  border-radius: theme.$box-border-radius;
  box-shadow: theme.$box-shadow;
  background: theme.$background-color-primary;
  color: theme.$text-primary;
  line-height: spacing.$spacer-lg;
  width: auto;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent theme.$text-secondary transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -9px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent theme.$background-color-primary transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
}

.shareButtonText {
  @include spacing.pl(1, xs);
}
