@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.tag {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    color: $tag-text-color;
    border-color: $tag-border-color;
    border-radius: $box-border-radius;
    font-size: $font-size-normal;
    transition: opacity 0.2s;
    text-align: left;
    white-space: nowrap;
    gap: $spacer-sm;
    width: fit-content;
    @include px(3, xs);
	@include py(1.5, xs);
    &:hover {
        text-decoration: none;
        opacity: 0.9;
    };
    &.active {
        background-color: $tag-border-color;
        border-color: $tag-border-color;
        color: $tag-text-color-active !important;

        > svg {
            fill: $tag-text-color-active !important;
            cursor: pointer;
        }
    };
}
