@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';

.sourceModalBody {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  @include py(2, xs);
}

.sourcePreviewBox {
  width: 100%;
  @include p(0, xs);
  @include my(3, xs);
}

.sourceInputContainer {
  display: flex;
  flex-direction: column;
}

button.sourcePreviewButton {
  width: 100%;
}

.allowedSourcesInfo {
  font-size: $font-size-small;
  color: $text-secondary;
  white-space: nowrap;
  margin-top: 1rem; 
  white-space: normal; 
  word-break: break-word; 
}