@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;

.sourceModalBody {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  @include spacing.py(2, xs);
}

.sourcePreviewBox {
  width: 100%;
  @include spacing.p(0, xs);
  @include spacing.my(3, xs);
}

.sourceInputContainer {
  display: flex;
  flex-direction: column;
}

button.sourcePreviewButton {
  width: 100%;
}

.allowedSourcesInfo {
  font-size: theme.$font-size-small;
  color: theme.$text-secondary;
  white-space: normal;
  word-break: break-word;
  margin-top: 0.5em;
}

.sourceInputHelp {
  font-size: theme.$font-size-extra-small;
  color: theme.$text-secondary;
  margin-top: 1.07em;
  margin-bottom: 0.5em;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: theme.$text-secondary;
  margin: 0.5rem 0;
  opacity: 0.3;
}