@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;

.sourceModalBody {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  @include spacing.py(2, xs);
}

.sourcePreviewBox {
  width: 100%;
  @include spacing.p(0, xs);
  @include spacing.my(3, xs);
}

.sourceInputContainer {
  display: flex;
  flex-direction: column;
}

button.sourcePreviewButton {
  width: 100%;
}

.allowedSourcesInfo {
  font-size: theme.$font-size-small;
  color: theme.$text-secondary;
  white-space: nowrap;
  margin-top: 1rem; 
  white-space: normal; 
  word-break: break-word; 
}