@use "@logora/debate.styles.theme/_theme.scss" as theme;
@use "@logora/debate.styles.spacing/_spacing.scss" as spacing;

.toggle {
  display: inline-block;
  width: 2em;
  min-width: 2em;
  height: 1em;
  font-size: theme.$font-size-normal;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggleLabel {
  @include spacing.ml(2, xs);
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: theme.$darkest-text-tertiary;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1em;
  &:hover {
    background-color: theme.$text-secondary;
  }
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.75em;
  width: 0.75em;
  left: 0.125em;
  bottom: 0.125em;
  background-color: theme.$text-light !important;
  transition: 0.4s;
  border-radius: 50%;
}

input:disabled + .slider {
  background-color: theme.$background-color-secondary !important;
  cursor: not-allowed;
}

input:checked + .slider {
  background-color: theme.$call-primary !important;
}

input:checked:disabled + .slider {
  background-color: theme.$darken-text-tertiary !important;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

input:focus + .slider {
  box-shadow: 0 0 0 0.125em theme.$darken-text-tertiary;
}

.errorMessage {
  font-size: 0.8em;
  padding-top: spacing.$spacer-md;
  color: theme.$cancel-primary;
}