@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;

.toggle {
  display: inline-block;
  width: 2em;
  min-width: 2em;
  height: 1em;
  font-size: $font-size-normal;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggleLabel {
  @include ml(2, xs);
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: $darkest-text-tertiary;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1em;
  &:hover {
    background-color: $text-secondary;
  }
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.75em;
  width: 0.75em;
  left: 0.125em;
  bottom: 0.125em;
  background-color: $text-light !important;
  transition: 0.4s;
  border-radius: 50%;
}

input:disabled + .slider {
  background-color: $background-color-secondary !important;
  cursor: not-allowed;
}

input:checked + .slider {
  background-color: $call-primary !important;
}

input:checked:disabled + .slider {
  background-color: $darken-text-tertiary !important;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

input:focus + .slider {
  box-shadow: 0 0 0 0.125em $darken-text-tertiary;
}

.errorMessage {
  font-size: 0.8em;
  padding-top: $spacer-md;
  color: $cancel-primary;
}
