@use '@logora/debate.styles.theme' as theme;
@use '@logora/debate.styles.spacing' as spacing;
@use '@logora/debate.styles.display' as display;

.childContainer {
    position: relative;
}
.textContainer {
    @include spacing.px(3, xs);
    @include spacing.py(2.5, xs);
    z-index: 2;
    position: absolute;
    width: 45%;
    height: fit-content;
    min-width: 250px;
    background-color: theme.$success-primary;
    color: theme.$text-light;
    border-radius: 3px;
    text-align: left;
    visibility: visible;
    opacity: 1;
    @include display.media-breakpoint-down(sm) {
        min-width: 150px;
    }
    &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity .3s linear;
    }
    &::after {
        content: "";
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: theme.$success-primary transparent transparent transparent;
    }
    &.top {
        left: 25%;
        bottom: 105%;
        &::after {
            bottom: -19px;
            left: 50%;
            transform: none;
        }
        @include display.media-breakpoint-down(sm) {
            width: 80%;
            left: 10%;
            bottom: 70%;
        }
    }
    &.bottom {
        left: 25%;
        top: 105%;
        &::after {
            bottom: 100%;
            left: 50%;
            transform: rotate(180deg);
        }
        @include display.media-breakpoint-down(sm) {
            width: 80%;
            left: 10%;
            top: 76%;
        }
    }
    &.left {
        top: 10%;
        left: -40%;
        width: 45%;
        &::after {
            top: 25%;
            right: -19px;
            transform: rotate(270deg);
        }
        @include display.media-breakpoint-down(lg) {
            width: 80%;
            left: -70%;
        }
    }
    &.right {
        top: 10%;
        right: -40%;
        width: 45%;
        &::after {
            top: 25%;
            left: -19px;
            transform: rotate(90deg);
        }
        @include display.media-breakpoint-down(lg) {
            width: 80%;
            right: -70%;
        }
    }
}
.title {
    display: flex !important;
    align-items: center !important;
    @include spacing.mb(1.5, xs);
    font-weight: theme.$font-weight-bold;
    text-transform: uppercase;
    svg {
        @include spacing.mr(1, xs);
        fill: theme.$text-light;
    }
}

.textContent {
    font-size: theme.$font-size-small;
    svg {
        @include spacing.ml(1, xs);
        fill: transparent;
        path {
            fill: theme.$text-light;
        }
        circle {
            stroke: theme.$text-light;
        }
    }
}
.close {
    @include spacing.p(1, xs);
    position: absolute;
    top: 4px;
    right: 8px;
}
.closeText {
    @include spacing.mt(2, xs);
    width: fit-content;
    font-size: theme.$font-size-small;
    text-decoration: underline;
}
.close, .closeText {
    cursor: pointer;
    &:hover {
        opacity: .85;
    }
}

.pointIcon {
    circle {
        stroke: theme.$text-primary;
    }
    path {
        fill: theme.$text-primary;
    }
}