@use '@logora/debate.styles.theme/_theme.scss' as *;
@use '@logora/debate.styles.spacing/_spacing.scss' as *;
@use '@logora/debate.styles.flex/_flex.scss' as *;
@use '@logora/debate.styles.display/_display.scss' as *;

.suggestionBannerContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    box-shadow: $box-shadow;
    border: $box-border-main-container;
    color: $text-primary;
    border-radius: $box-border-radius;
    background: $background-color-primary;
    gap: $spacer-lg;
    @include p(4, sm);
    @include p(3, xs);

    @include media-breakpoint-down(xs) {
        gap: $spacer;
    }
}

.suggestionBannerContext {
    display: flex !important;
    flex-direction: column !important;
    @include justify-content(center, xs);
    @include justify-content(flex-start, sm);
    max-width: 50%;
    gap: $spacer-lg;

    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
        gap: $spacer;
    }

    &.isMobile {
        max-width: 100%;
    }
}

.suggestionBannerTitle {
    width: 100%;
    font-family: $title-font-family;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: $line-height-loose;
}

.suggestionBannerDescription {
    font-size: $font-size-normal;
    line-height: $line-height-loose;
}

.suggestionBannerList {
   flex-grow: 1;
}

.suggestionBannerButton {
    width: fit-content !important;

    svg {
        transform: rotate(-90deg);
    }
}
