@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';
@import '~@logora/debate.styles.flex/_flex.scss';
@import '~@logora/debate.styles.display/_display.scss';

.suggestionBannerContainer {
    display: flex !important;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap !important;
    }
    box-shadow: $box-shadow;
    border: $box-border-main-container;
    color: $text-primary;
    border-radius: $box-border-radius;
    background: $background-color-primary;
    gap: $spacer-lg;
    @include p(4, sm);
    @include p(3, xs);

    @include media-breakpoint-down(xs) {
        gap: $spacer;
        flex-direction: column !important;
        width: 100% !important;
    }

    &.suggestionBannerContainerWrapped {
        flex-wrap: wrap !important;
    }
}

.suggestionBannerContext {
    display: flex !important;
    flex-direction: column !important;
    @include justify-content(center, xs);
    @include justify-content(flex-start, sm);
    max-width: 50%;
    gap: $spacer-lg;

    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
        gap: $spacer;
    }

    &.isMobile {
        max-width: 100%;
    }
}

.suggestionBannerTitle {
    width: 100%;
    font-family: $title-font-family;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: $line-height-loose;
}

.suggestionBannerDescription {
    font-size: $font-size-normal;
    line-height: $line-height-loose;
}

.suggestionBannerList {
    flex-grow: 1;

    @include media-breakpoint-down(xs) {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.suggestionBannerButton {
    width: fit-content !important;

    svg {
        transform: rotate(-90deg);
    }

    &.isMobile {
        width: auto !important;
        max-width: 100% !important;
    }
}


.suggestionBannerListWrapped {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
}