@use '~@logora/debate.styles.theme/_theme.scss' as theme;
@use '~@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use "~@logora/debate.styles.flex/_flex.scss" as flex;
@use '~@logora/debate.styles.display/_display.scss' as display;


.suggestionBannerContainer {
    display: flex !important;
    flex-wrap: wrap;
    @include display.media-breakpoint-down(sm) {
        flex-wrap: wrap !important;
    }
    box-shadow: theme.$box-shadow-main-container;
    border: theme.$box-border-main-container;
    color: theme.$text-primary;
    border-radius: theme.$box-border-radius;
    background: theme.$background-color-primary;
    gap: spacing.$spacer-lg;
    @include spacing.p(4, sm);
    @include spacing.p(3, xs);

    @include display.media-breakpoint-down(xs) {
        gap: spacing.$spacer;
        flex-direction: column !important;
        width: 100% !important;
    }

    &.suggestionBannerContainerWrapped {
        flex-wrap: wrap !important;
    }
}

.suggestionBannerContext {
    display: flex !important;
    flex-direction: column !important;
    @include flex.justify-content(center, xs);
    @include flex.justify-content(flex-start, sm);
    max-width: 50%;
    gap: spacing.$spacer-lg;

    @include display.media-breakpoint-down(sm) {
        max-width: 100%;
    }

    @include display.media-breakpoint-down(xs) {
        gap: spacing.$spacer;
    }

    &.isMobile {
        max-width: 100%;
    }
}

.suggestionBannerTitle {
    width: 100%;
    font-family: theme.$title-font-family;
    font-size: theme.$font-size-large;
    font-weight: theme.$font-weight-bold;
    line-height: theme.$line-height-loose;
}

.suggestionBannerDescription {
    font-size: theme.$font-size-normal;
    line-height: theme.$line-height-loose;
}

.suggestionBannerList {
    flex-grow: 1;

    @include display.media-breakpoint-down(xs) {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.suggestionBannerButton {
    width: fit-content !important;

    svg {
        transform: rotate(-90deg);
    }

    &.isMobile {
        width: auto !important;
        max-width: 100% !important;
    }
}


.suggestionBannerListWrapped {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
}