@use '@logora/debate.styles.theme/_theme.scss' as theme;
@use '@logora/debate.styles.spacing/_spacing.scss' as spacing;
@use '@logora/debate.styles.flex/_flex.scss' as flex;

.progressContainer {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.titleContainer {
    display: flex !important;
    @include flex.flex-direction(column, xs);
    @include flex.flex-direction(row, sm);
}

.title {
    width: 100%;
    font-weight: theme.$font-weight-bold;
}

.subtitleContainer {
    width: 100%;
    text-align: right;
}

.progressSubtitle {
    @include spacing.mr(1, xs);
    color: theme.$text-secondary;
    font-size: theme.$font-size-small;
}

.progressBarContainer { 
    position: relative;
    background: theme.$background-color-secondary;
    border-radius: theme.$box-border-radius !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.currentProgressBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    white-space: nowrap;
    color: theme.$text-light;
    -webkit-transition: width 1.2s ease !important;
    transition: width 1.2s ease !important;
}

.progressBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    background-color: theme.$call-primary;
    border-radius: theme.$box-border-radius !important;
    height: 100%;
    color: theme.$text-light;
    animation: progressBarAnimation 1.2s ease;
    animation-fill-mode:both; 
    -webkit-animation: progressBarAnimation 1.2s ease;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBarAnimation 1.2s ease;
    -moz-animation-fill-mode:both; 
}

.progressBarContent {
    text-align: left;
    @include spacing.pl(2, xs);
    color: theme.$text-light;
    font-size: theme.$font-size-normal;
    font-weight: theme.$font-weight-normal;
    min-height: 0.5em;
}

@keyframes progressBarAnimation {
    0% { width: 0; }
    100% { width: 100%; }
}